---
layout: default-projects
title: Projects
permalink: /projects/
---


<div class="pull-right">
  <a href="" class="btn btn-info">Help</a>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="panel panel-context-projects">
      <div class="panel-title">
        Manage Projects
      </div>
      <div class="panel-subnav">
        <div class="">
          <div class="col-lg-4 pull-left">
            <div class="search">
              <input type="text" class="form-control" placeholder="Search">
              <i class="glyphicon glyphicon-search"></i>
            </div>
          </div>
          <div class="col-lg-8 ">
            <ul class="list-unstyled list-inline pull-right">
              <!--<li>
                <a class="btn btn-default">
                  Filter
                </a>
              </li>-->
              <!--<li>
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">Print</a></li>
                        <li><a href="#">Save as PDF</a></li>
                        <li><a href="#">Export to Excel</a></li>
                    </ul>
                </div>
              </li>-->
              <li>
                <a class="btn btn-default" data-toggle="modal" data-target="#myModalPot">
                  General Pot
                </a>
              </li>
              <li>
                <a class="btn btn-add" data-toggle="modal" data-target="#myModalProjectNew">
                  <i class="glyphicon glyphicon-plus"></i> Add New
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      {% include modal-project-new.html %}
      {% include modal-general-pot.html %}


      <div class="panel-body">
        <table class="table table-vam table-hover table-bordered">
          <thead>
            <tr>
              <th>Active Projects <span>(2)</span></th>
              <th class="value-progress">Status</th>
              <th class="date date-lg date-right">Last Activity</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="title link">
                <a href="/projects/details/">
                  <span class="initials icon-project">NL</span>
                  New Library Resources
                </a>
              </td>
              <td class="value-progress">
                <span>£100.00</span> / £120.00
              </td>
              <td class="date date-right">
                20.03.2015
              </td>
            </tr>
            <tr>
              <td class="title link">
                <a href="">
                  <span class="initials icon-project">TP</span>
                  Tennis Pitch
                </a>
              </td>
              <td class="value-progress">
                <span>£100.00</span> / £5,000.00
              </td>
              <td class="date date-right">
                20.03.2015
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-body">
        <table class="table table-vam table-hover table-bordered">
          <thead>
            <tr>
              <th>Draft Projects <span>(1)</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="title link">
                <a href="">
                  <span class="initials icon-draft">TP</span>
                  Tennis Pitch
<!--              <span class="label label-draft-outline">Draft</span>-->
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
