---
layout: default-projects
title:  Projects New
permalink: /projects/new/
---

<!--<div class="row">

  <div class="col-lg-12 col-md-12 page-title">
    <h1 class="page-header">Create Project
      <span class="block">Starting your project journey the most efficient way</span>
    </h1>


    <ul class="list-unstyled menu-list list-inline">
      <li class="helper">
        <a onclick="$('.helper-toggle').toggleClass('hide')">
         <i class="glyphicon glyphicon-question-sign"></i>
        </a>
      </li>
    </ul>
  </div>
</div>-->

<!--
<div class="alert alert-success alert-fixed alert-sidebar" id="alert-download">
  <a href="" class="close">
    &times;
  </a>
  <div class="details">
    <h4>Autosave</h4>
    <p>09:32AM</p>
  </div>
</div>-->

<div class="row">
  <div class="col-lg-12 col-md-12 page-title">
    <a href="/projects/" class="btn btn-primary btn-r">
      <i class="glyphicon glyphicon-chevron-left"></i> Back to Projects</a>

      <!--<div class="pull-right">
        <a class="btn btn-default" onclick="$('#copy').toggleClass('col-lg-8 col-md-8'), $('#comments').toggleClass('hide')">Comments</a>
        {% include share.html %}
      </div>-->
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-title">Project Details</div>
        <div class="panel-body">
           <div class="col-md-9">
             <h2>New Library Resources

             </h2>
             <small class="block">01.01.2015 - 05.06.2016</small>
             <p>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor vestibulum imperdiet. Ut auctor accumsan erat, a vulputate metus tristique non. Aliquam aliquam vel orci quis sagittis.
             </p>
           </div>
           <div class="col-md-3 panel-side-l">
               <div class="text-right">
                   <h2>£5,000.00</h2>
                   <p>Funding Target</p>
               </div>
           </div>
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <!--{% include share.html %}-->
            <a class="btn btn-edit" data-toggle="modal" data-target="#myModal-record">
              <i class="fa fa-pencil"></i> Edit
            </a>
          </div>
        </div>
    </div>
  </div>
</div>


<div class="row">
  <div id="copy" class="col-lg-12 col-md-12">
    <div class="panel">
      <div class="panel-title">Project Narrative</div>
      <div class="panel-body">
        <div class="project_need-hook">
          <div class="form-group">
            <label for="id_project_need" class="control-label">
              Why do you need your project?
              <a class="pull-right font-normal" onclick="$('#hint').removeClass('hide')">
                Hints &amp; Tips
              </a>
              <div class="alert alert-info m-t-sm hide" id="hint">
                <strong class="block">Hints &amp; Tips</strong>
                <p>
                  Maecenas sed diam eget risus varius blandit sit amet non magna:
                </p>
                <ol>
                  <li>What is it you want to achieve?</li>
                  <li>
                    Maecenas sed diam eget risus varius blandit sit amet non magna.
                  </li>
                </ol>
                <a class="btn btn-info pull-right" onclick="$('#hint').addClass('hide')">Got it
                </a>
              </div>
            </label>
            <textarea class="field form-control"  placeholder="What is your school missing that this project can provide?" id="id_project_need"></textarea>
            {% include copy-good.html %}
            <div class="error"></div>
          </div>
        </div>

        <div class="impact-hook">
          <div class="form-group">
            <label for="id_impact" class="control-label">
              What impact will your project make?
              {% include input-tips.html %}
            </label>
            <textarea class="field form-control"  placeholder="For example, improve pupil IT literacy" id="id_impact"></textarea>
            {% include copy-avg.html %}
            <div class="error"></div>
          </div>
        </div>

        <div class="evidence-hook">
          <div class="form-group">
            <label for="id_evidence" class="control-label">
              What supporting evidence have you got to back up the need for your project?
              {% include input-tips.html %}
            </label>
            <textarea class="field form-control"  placeholder="Build your C.A.S.E (Consultations, Agendas, Statistics, Environment)" id="id_evidence"></textarea>
            {% include copy-poor.html %}
            <div class="error"></div>
          </div>
        </div>

        <div class="school_improvement-hook">
          <div class="form-group">
            <label for="id_school_improvement" class="control-label">
              School Improvement
              {% include input-tips.html %}
            </label>
            <textarea class="field form-control"  placeholder="How does the project link it to your school improvement plan?" id="id_school_improvement"></textarea>
            {% include copy-good.html %}
            <div class="error"></div>
          </div>
        </div>

        <div class="project_plan-hook">
          <div class="form-group">
            <label for="id_project_plan" class="control-label">
              How do you plan to deliver, monitor, and evaluate your project?
              {% include input-tips.html %}
            </label>
            <textarea class="field form-control"  placeholder="Deliverables, projected outcomes, success criteria" id="id_project_plan"></textarea>
            {% include copy-good.html %}
            <div class="error"></div>
          </div>
        </div>

        <div class="success_measure-hook">
          <div class="form-group">
            <label for="id_success_measure" class="control-label">
              How will you measure and report success?
              {% include input-tips.html %}
            </label>
            <textarea class="field form-control"  placeholder="Success criteria, reporting tools" id="id_success_measure"></textarea>
            {% include copy-good.html %}
            <div class="error"></div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="pull-left">
          <a class="btn btn-default"><i class="fa fa-trash-o"></i> Abandon</a>
        </div>
        <div class="pull-right">
          <a href="/projects/" class="btn btn-add">Create Project</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 hide" id="comments">
    <div class="panel">
      <div class="panel-title">Comments</div>
    </div>
    <!--<div class="panel">
      <div class="panel-body">
        <div class="body-title">
          <div class="title">Need Help?
            <span class="block">Invite colleagues to help with this project</span>
          </div>
          <div class="actions-row">
            <a data-toggle="modal" data-target="#myModalTeam" class="btn btn-info">Create Team
            </a>
          </div>
        </div>
      </div>

    </div>-->
  </div>

</div>









</div>
