  {% include modal-upgrade.html %}

  
<footer class="">


</footer>

<button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>

<!--JAVASCRIPT-->
<!--=================================================-->
<!-- Place JavaScript at bottom of page for quicker loading -->
<script src="{{ "/js/jquery-1.10.2.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jasny-bootstrap.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/custom.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap-select-min.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/js/bootstrap-tagsinput.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/chart.min.js" | prepend: site.baseurl }}"></script>
<script>
window.onload = function(){
  var ctx4 = document.getElementById("chart-area").getContext("2d");

  window.myDoughnut = new Chart(ctx4).Doughnut(doughnutData, {
    responsive : true
  });
}


var doughnutData = [
  {
    value: 300.00,
    color:"#ec87c0",
    highlight: "#ec87c0",
    label: "CLUBS"
  },
  {
    value: 100.00,
    color:"#48cfad",
    highlight: "#48cfad",
    label: "EVENTS"
  },
  {
    value: 1000.00,
    color:"#f6bb42",
    highlight: "#f6bb42",
    label: "GRANTS"
  },
  {
    value: 90.00,
    color: "#fff",
    highlight: "#fff",
    label: "TO TARGET"
  }
];
</script>

<script type="text/javascript">
    $('[data-toggle="popover"]').popover();
    $('[data-toggle="tooltip"]').tooltip({
        trigger: 'hover'
    });
</script>
