

<div class="modal fade" id="myModalPot" tabindex="-1" role="dialog" aria-labelledby="myModalLabelPot">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">General Pot
            <span class="block">The general pot is where all your income goes if it hasn't been allocated to a project. You can use the general pot for activities that can be used to fund multiple projects, such as open donations. Use the transfer facility to allocate money to a project from the general fund. </span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
            <div class="form-group">
              <label class="control-label" for="">Value</label>
              <input class="form-control input-lg input-amount" value="£10,000.00" disabled="" type="text">
            </div>


          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="pull-left">
          <a  data-dismiss="modal" aria-label="Close" class="btn btn-default">Close</a>
        </div>
        <div class="pull-right">
          <a class="btn btn-primary">
            Transfer Funds
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
