

<div class="modal fade" id="myModalProjectNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabelGrants">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">Create Project
            <span class="block">Start your project the right way</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
            <div class="form-group">
              <label class="control-label" for="">What shall we name your project?</label>
              <input class="form-control" placeholder="Project Title" type="text">
              <a class="help-block">Example</a>
            </div>

            <div class="form-group">
              <label class="control-label" for="">Summary</label>
              <textarea class="field form-control" rows="4" value="Description"></textarea>
              <div id="example-summary" class="hide">
                <div class="alert-example">
                  <strong>Example</strong>
                  <p>
                    Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                  </p>
                </div>
              </div>
              <a class="help-block" id="btn-example-show" onclick="$('#example-summary').toggleClass('hide')">
                Example
              </a>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="dtp_input2" class="control-label">Start Date</label>
                  <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                      <input class="form-control" size="16" value="" placeholder="Date" type="text">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="dtp_input2" class="control-label">End Date</label>
                  <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                      <input class="form-control" size="16" value="" placeholder="Date" type="text">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="form-group">
                  <div class="col-lg-6 col-md-6">
                    <label class="control-label" for="">How much will this cost?</label>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <input class="form-control input-amount" placeholder="0.00" type="text">
                  </div>
                </div>

             </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="pull-left">
          <a  data-dismiss="modal" aria-label="Close" class="btn btn-default">Abandon</a>
        </div>
        <div class="pull-right">
          <a href="/projects/new/" class="btn btn-add">Create Project
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
