  {% include modal-upgrade.html %}


<footer class="">

</footer>

<!-- modals -->

<!-- donations-->
  {% include modal-hmrc.html %}
  {% include modal-hmrc-data.html %}
  {% include modal-ga-refund.html %}
  {% include modal-donation.html %}
  {% include modal-donation-gasds.html %}
<!-- clubs -->

<!-- events -->

<!-- services -->
  {% include modal-service-new.html %}

<!-- lettings -->
  {% include modal-letting-room.html %}
  {% include modal-letting-details-lg.html %}
  {% include modal-letting-loading.html %}

<!-- grants -->
  {% include modal-grant-details.html %}
  {% include modal-grant-details-lg.html %}

<!-- sponsorship -->

<!-- projects -->
  {% include modal-team.html %}
  {% include modal-project-library.html %}
  {% include modal-project-new.html %}
  {% include modal-general-pot.html %}
  {% include modal-document-add.html %}

<!-- reports -->

<!-- grants -->

<!-- transactions -->
  {% include modal-transaction.html %}

<!-- SRM -->
  {% include modal-name-preview.html %}
  {% include modal-srm-data.html %}
  {% include modal-import-csv.html %}
  {% include modal-srm-new.html %}

  {% include modal-campaign-ga.html %}
  {% include modal-campaign-info.html %}
  {% include modal-campaign-locked.html %}
  {% include modal-import-warning.html %}

<!-- general -->
  {% include modal-done.html %}

<!-- profile -->
  {% include modal-profile-new.html %}

<!-- admin -->
  {% include modal-admin-account.html %}
  {% include modal-admin-bank.html %}

<!-- end modals-->


<button id="scroll-top" class="btn">
  <i class="fa fa-chevron-up"></i>
</button>

<!--JAVASCRIPT-->
<!--=================================================-->
<!-- Place JavaScript at bottom of page for quicker loading -->
<script src="{{ "/js/jquery-1.10.2.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jasny-bootstrap.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/readmore.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/custom.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap-select-min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/chart.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap-switch.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/custom-file-input.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.flexText.min.js" | prepend: site.baseurl }}"></script>


<!--<script src="{{ "/js/tagsort.min.js" | prepend: site.baseurl }}"></script>-->

<!--
<script>
$('div.tagsort-tags-container').tagSort({
	selector:'.item-to-tag'
});
</script>-->

<script>
$(function () {
    $('textarea').flexText();
    $("[name='my-checkbox']").bootstrapSwitch();
});
</script>




<script type="text/javascript">
    $('[data-toggle="popover"]').popover();
    $('[data-toggle="tooltip"]').tooltip({
        trigger: 'hover'
    });

    $("img").each(function(){
      if($(this).attr("src").indexOf("/") == 0){
        $(this).attr("src", "{{ site.baseurl }}/" + $(this).attr("src"));
      }
    });
    $("a").each(function(){
      if(!$(this).attr("href")) return;
      if($(this).attr("href").indexOf("/") == 0){
        $(this).attr("href", "{{ site.baseurl }}/" + $(this).attr("href"));
      }
    });
</script>
