<header id="navbar">
  <div id="navbar-container">
    <div class="navbar-header">
      <a href="index.html" class="navbar-brand">
      </a>
    </div>
    <div class="navbar-content clearfix ">
      <div class="col-lg-12">
        <div class="navbar-left menu-button hidden-sm">
          <a href="" class="mainnav-toggle">
            <i class="fa fa-navicon fa-lg"></i>
          </a>
        </div>
        <ul class="navbar-right list-unstyled list-inline pull-right">
          <!--<li>
            <span class="label label-danger">DEMO</span>
          </li>
          <li>
            |
          </li>-->

          <!--<li class="trial-date">
            <strong>10 Days Remain on Trial</strong>
          </li>
          <li>
            <a data-toggle="modal" data-target="#myModalTrial"
              class="btn btn-add">
              Upgrade
            </a>
          </li>-->
          <!--<li>
            <div class="menu-container">
              <a id="btn-filters-test" class="btn-menu" onclick="$('#filters-test').toggleClass('hide'), $('#btn-filters-test').toggleClass('active')">
                <i class="fa fa-tasks"></i>
              </a>

              <div id="filters-test" class="menu-toggle hide">
                <div class="panel-body">

                  <ul class="list-unstyled list-notification">
                    <li>
                      <p>5 Tasks Remain</p>
                    </li>
                    <li>
                      <a href="">Grant Application
                        <span>Due: 02.02.2015</span>
                      </a>
                    </li>
                    <li>
                      <a href="">Grant Application
                        <span>Due: 02.02.2015</span>
                      </a>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </li>-->
          <li class="profile">
            <div class="btn-group">
              <a class="dropdown-toggle btn-profile" data-toggle="dropdown">
                <span class="initials icon-user">
                  AH
                </span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="/profile/home/"> My Profile</a></li>
              </ul>
            </div>
          </li>
          <li class="user_name">
            Funding School
          </li>
      </ul>

      </div>
    </div>
  </div>
</header>
