<header id="navbar">
  <div id="navbar-container">
    <div class="navbar-header">
      <a href="index.html" class="navbar-brand">
      </a>
    </div>
    <div class="navbar-content clearfix ">
      <div class="col-lg-12">
        <div class="navbar-left menu-button hidden-sm">
          <a href="" class="mainnav-toggle">
            <i class="fa fa-navicon fa-lg"></i>
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <!--<li>
            <a class="btn btn-notification" data-toggle="modal" data-target="#myModal-commuinty-activate">
              Joinos Community
              <span class="label labe-add">NEW</span>
            </a>
          </li>-->
          <li class="dropdown user_name">
            <a href="#" class="dropdown-toggle "
               data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">
                 <i class="fa fa-user"></i> Adam Hogg
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/profile/home/"><i class="fa fa-user"></i> My Profile</a></li>
              <li><a href="/logout/"><i class=" fa fa-power-off"></i>Logout</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>
</header>
