<header id="navbar">
  <div id="navbar-container">
    <div class="navbar-header">
      <a href="index.html" class="navbar-brand">
      </a>
    </div>
    <div class="navbar-content clearfix">
      <div class="col-lg-12">
        <div class="navbar-left menu-button">
          <a href="" class="mainnav-toggle">
            <i class="fa fa-navicon fa-lg"></i>
          </a>
        </div>



        <!--
        <div class="navbar-title">
          <div class="title">{{ page.heading }}<span>
            - {{ page.tagline }}</span></div>

        </div>-->
        <ul class="navbar-right list-unstyled list-inline pull-right">
          <li class="user_name">
            Pebble Support Admin
          </li>
        </ul>

      </div>
    </div>
  </div>
</header>
