<div class="modal fade" id="myModalHMRC-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabelHMRC-data">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">
            Gift Aid Report #001
          </div>
          <span>Preview</span>
        </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="panel ">
                <div class="panel-title">
                    10 Donors
                  <div class="pull-right">
                    Potential Repayment: &pound;250.00
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table table-preview">
                    <thead>
                      <tr>
                        <th class="name">Name
                        </th>
                        <th>Address</th>
                        <th class="date">Date
                        </th>
                        <th class="amount">
                          Amount
                        </th>
                        <th class="amount">
                          Gift Aid
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="name">
                          Miss Louis Kelly
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>8 Corner Farm Cl<li>
                            <li>NG23 5TR</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £25.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mr Larry Mills
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>1 Kingston Cl</li>
                            <li>BA12 7HQ</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £25.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mrs Eileen Ferguson
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>B365, Cobham</li>
                            <li>KT11 1ER</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">
                          £25.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mrs Anna Bryant
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>11 Knockline</li>
                            <li>HS6 5DT</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £25.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mr Taylor Scott
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>37 Waterside Rd</li>
                            <li>GU1 1RF</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £25.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mr Ralph Cole
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>25 Hutton Village</li>
                            <li>CM13 1RT</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £25.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mrs Arianna Obrien
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>10 Fraser Pl</li>
                            <li>M17</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £25.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mr Oscar Richards
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>8 Oakash Ct</li>
                            <li>NG16 1FW</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £25.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mr Darren Banks
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>Acres Rd</li>
                            <li>PH21 1LA</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £25.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Miss Hannah Sanders
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>B1341</li>
                            <li>NE69</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £25.00
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
          <div class="modal-footer">
            <div class="pull-left">
              <a  data-dismiss="modal" aria-label="Close" class="btn btn-default"> Close</a>
            </div>
            <div class="pull-right">
              <a href="" class="btn btn-info">
                <i class="fa fa-download"></i>
                Download CSV
              </a>
            </div>
          </div>


    </div>
  </div>
</div>
