
<div class="modal fade" id="myModalClaim" tabindex="-1" role="dialog" aria-labelledby="myModalLabelClaim">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div id="ga-calculator">
        <div class="modal-body modal-body-clear">
          <div class="body-title">
            <div class="title">Create Report
              <span class="block">Calculating you HMRC refund value.</span>
            </div>


              <div class="loader"></div>
              <p>Calculating...</p>
            </div>
          </div>
        </div>


        <div id="ga-claim" class="hide">

          <div class="modal-body modal-body-clear">
            <div class="body-title">
              <div class="title">Create Report
                <span class="block">Calculating you HMRC refund value.</span>
              </div>
            </div>
            <div class="text-center">
              <h2>&pound;750.00
                <small class="block">(30 Donors)</small>
              </h2>
              <a class="btn btn-info" href="/donations/preview/">
                Preview Report
              </a>
            </div>

          </div>

          <div class="modal-footer">
            <div class="alert alert-info">
              <div class="title">
                This claim could be &pound;765.00!
              </div>
              <div class="pull-right">
                <a class="btn btn-info">Get Started</a>
              </div>
            </div>
          </div>
        </div>


    </div>
  </div>
</div>






        <!--<div class="">
          <p><strong>Note:</strong> All transactions recorded after this date will not be included within this report</p>
        </div>-->

        <!--
          Register Exempt Charity
        -->
        <!--<p>Please select the date you wish your claim to run until.</p>

        <div class="form-group">
          <div class="input-group">
              <input class="form-control" data-provide="datepicker" value="01/09/2015" title="" data-date="12-02-2012" data-date-format="dd-mm-yyyy" type="text">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox checkbox-success">
            <input id="checkbox1" type="checkbox">
            <label for="checkbox1">
                I understand that any transaction recorded after this report has been created, <strong>will not</strong> be included within this claim.
            </label>
          </div>
        </div>


        <a class="btn btn-info btn-block">
          Calculate
        </a>
</div>

        <div class="modal-footer">
          <div class="pull-left">
            <a class="btn btn-default"><i class="fa fa-trash-o"></i> Abandon</a>
          </div>
          <div class="pull-right">
            <a class="btn btn-info">
              Calculate
            </a>
          </div>
        </div>


        <!--<ul class="list-unstyled list-stats">
          <li>Stakeholders
            <span>30</span></li>
          <li>Transactions
            <span>50</span>
          </li>
          <li>Amount
            <span>£1,000.00</span>
          </li>
          <li>
            Total inc Gift Aid
            <span>£1,250.00</span>
          </li>
        </ul>
      -->




            <!--<div class="modal-footer">
              <div class="pull-left">
                <a class="btn btn-default"><i class="fa fa-trash-o"></i> Abandon</a>
              </div>
              <div class="pull-right">
                <a class="btn btn-primary">
                  <i class="fa fa-eye"></i>
                  Preview Data
                </a>
              </div>
            </div>-->
      <!--    </div>
        </div>
      </div>
    </div>
  </div>-->
