<div class="modal fade" id="myModalLibrary" tabindex="-1" role="dialog" aria-labelledby="myModalLabelLibrary">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>



      <div class="modal-body modal-body-clear">

        <div class="body-title">
          <div class="title">Project Library
            <span class="block">Some great ideas for Project from other organisations</span>
          </div>
        </div>
        <!--<div class="alert alert-info"><strong>Want to feature on this list?</strong> Submit your Project Narrative to our team.</div>-->

        <ul class="list-unstyled list-with-icons">


          <li>
            <div class="name">
              <span class="initials icon-project">
                EG
              </span>
              The Edible Garden <span class="label label-success">New</span>
            </div>
            <p>
              Our project goal is to create an outdoor gardening space at the school, complete with polytunnel and a beekeeping area, for the children to enjoy and incorporate into their learning. It will be used by teachers to provide children with an opportunity to grow their own food, and understand the workings of a beehive, enabling them to reap the rewards of the honey produced and become responsible for the health of the bees and hive.
              <a class="details-toggle collapsed" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                Read More
              </a>
            </p>
            <div aria-expanded="false" class="collapse" id="collapseExample3">
              <p>
              We plan to use an area of school ground which is currently underused and is a safe distance away from the school building due to the nature of keeping bees. The development of this area will enhance the children's  learning and well-being, develop their participation skills, contribute to their ability to act as a community and model their thinking towards sustainability.
              </p>
              <p>We will achieve these goals by creating a community vegetable garden which will include a polytunnel to grow a selection of fruit and vegetables, as well as incorporating a beehive. It will enable us to provide a stimulating, safe environment for children of all ages within the school. The tunnel will provide an opportunity to enjoy the facilities in any weather, and will have planters divided into several areas, offering each age group their own section, giving them the ability to track their progress with ease.

              </p>
              <div class="actions-row">
                <a class="btn btn-add">
                  <i class="fa fa-plus"></i>
                  Add to Projects
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="name">
              <span class="initials icon-project">
                OE
              </span>
              Outdoor Exploration Deck
            </div>
            <p>
              Our project is the creation of an Sports Field for the children that surround our school. The Exploration Deck will be used by teachers, care providers and parents to facilitate investigation and reflective time for children who suffer from autism and behavioural issues. It will provide stimulation to all types of learners allowing for differentiation and encouragement of personalised learning treating each child as an individual.
              <a class="details-toggle collapsed" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                Read More
              </a>
            </p>
            <!-- comment-->
            <div aria-expanded="false" class="collapse" id="collapseExample2">
              <p>We are planning to redevelop an unusable area of schools grounds (9m x 7m) into the Exploration Deck. A consultation was held with local stakeholders including council and community members, staff, and parents about the needs and priorities of those children managing behavioural issues and autism. The outcome of this consultation found a lack of facilities and resources for play-based approaches to developing more positive child/parent relationships.</p>
              <p>We aim to achieve this goal by engineering our surroundings to incorporate colors, sounds, scents and textures stimulate the five senses. This will provide a safe, calm, outdoor environment and appeal to all age groups. The Exploration Deck will be able to be accessed in all weather conditions as we plan to cover the area with a shelter. We've already done some preparatory work to the grounds and started fundraising to cover the costs of benches, a water fountain and outdoor musical instruments. Planters will be installed around the perimeter of the area to grow specific sensory plants including lavender, bamboo and mint which will create a fragrance very specific to the area. The floor surface will provide different textures and colours like green artificial grass, blue soft pour and brown wood chip making it appealing to the eye.
              <!--  <a data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                  Read Less
                </a>-->
              </p>
              <div class="actions-row">
                <a class="btn btn-add">
                  <i class="fa fa-plus"></i>
                  Add to Projects
                </a>
              </div>
            </div>
          </li>

        </ul>
      </div>

      </div>



      </div>


    </div>
  </div>
</div>
