<div class="modal fade" id="myModalHMRC" tabindex="-1" role="dialog" aria-labelledby="myModalLabelHMRC">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">Create Claim
          </div>
          <span class="label label-info">Gift Aid Report 001</span>
        </div>


        <div class="panel-title">
          Step 1 - Download your Data
        </div>
        <div class="panel-body">
          xxx
        </div>
        <a href="" class="btn btn-info">
          <i class="fa fa-download"></i>
          Download CSV
        </a>
        <div class="panel-title">
          Step 2 - Merge Data into HMRC Template
        </div>
        <div class="panel-body">
          xxx
        </div>

        <div class="panel-title">
          Step 3 - Submit to HMRC
        </div>
        <div class="panel-body">
          <div class="form-group m-b-none">
            <div class="checkbox checkbox-success">
             <input id="checkbox2" value="option1" type="checkbox">
                <label for="checkbox2">
                 I have submitted this claim to HMRC <span class="text-muted block">This will move this claim to a pending state while we wait for HMRC</span>
                </label>
             </div>
          </div>
        </div>
        <!--<div class="panel-footer">
          <div class="actions-row actions-row-clear">
            <ul class="list-unstyled list-progress list-inline">
              <li class="complete"></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>-->
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <a class="btn btn-default"><i class="fa fa-trash"></i> Abandon</a>
        </div>
        <div class="pull-right">
          <a class="btn btn-primary">Save</a>
        </div>
      </div>

    </div>
  </div>
</div>
