<div class="modal fade" id="myModalLetting-room" tabindex="-1" role="dialog" aria-labelledby="myModalLabelLetting-room">
  <div class="modal-dialog" role="document" id="modal-size-letting">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">Create
            <div id="title-facility" class="hide">Facility</div>
            <div id="title-equipment" class="hide ">Equipment</div>
             Letting
           </div>
          <span class="">What would you like to let out?</span>

        </div>

        <div class="row" >
          <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
            <!--  Facility  / Hire-->
            <div class="row text-center m-b-xl" id="letting-options">
              <div class="col-lg-6 col-md-6">
                <div class="body-title">
                  <span class="">
                    <i class="fa fa-building-o fa-xl">
                    </i>
                  </span>
                  <div class="title">
                    Facility
                  </div>
                  <p>Halls, Rooms, Grounds </p>
                </div>
                <a class="btn btn-default" onclick="$('#letting-facility').removeClass('hide'), $('#letting-options').addClass('hide'), $('#letting-footer').removeClass('hide'), $('#title-facility').removeClass('hide'), $('#title-facility').addClass('inline')">Select</a>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="body-title">
                  <span class="">
                    <i class="fa fa-cubes fa-xl">
                    </i>
                  </span>
                  <div class="title">Equipment</div>
                  <p>Staging, Chairs, PA system</p>
                </div>
                <a class="btn btn-default" onclick="$('#letting-facility-equipment').removeClass('hide'), $('#letting-options').addClass('hide'), $('#letting-footer').removeClass('hide'), $('#title-equipment').removeClass('hide'), $('#title-equipment').addClass('inline')">Select</a>
              </div>
            </div>

            <div id="letting-facility-equipment" class="hide">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="control-label">Name</label>
                    <input class="form-control" type="text" placeholder="Name">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">Quantity</label>
                    <input class="form-control input-qty" value="1" type="number">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">Description{% include input-tips.html %}</label>
                    <textarea class="field form-control"  placeholder="" ></textarea>
                  </div>

<!--
                  <div class="actions-row" id="btn-letting-includes">
                    <a onclick="$('#service-include').removeClass('hide'), $('#btn-letting-includes').addClass('hide')" id="">Add more Detail</a>
                  </div>

                  <div class="hide" id="letting-include">
                    <div class="form-group">
                      <label class="control-label">Includes <a class="pull-right font-normal" onclick="$('#letting-include').addClass('hide'), $('#btn-service-includes').removeClass('hide')">Hide</a></label>
                      <textarea class="field form-control"  placeholder="" ></textarea>
                    </div>
                  </div>-->
                </div>
              </div>
              <!--<div class="row">
                <div class="col-md-12">

                </div>
              </div>-->
              <!--
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label" for="">Terms
                    </label>
                    <div class="checkbox checkbox-success">
                     <input id="donor" value="xx" type="checkbox" onclick="$('#donor-detail').toggleClass('hide')">
                        <label for="donor">
                         This hire requires a liability signature
                         <span></span>
                        </label>
                     </div>
                  </div>
                </div>
              </div>
            -->

              <!--<hr/>-->

              <!--<div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="control-label" for="">
                    </label>
                    <div class="checkbox checkbox-primary">
                     <input id="donor" value="xx" type="checkbox" onclick="$('#delivery-1').toggleClass('hide')">
                        <label for="donor">
                         This item can be delivery
                        </label>
                     </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group hide" id="delivery-1">
                    <label class="control-label">Price Per Mile</label>
                    <input type="text" class="form-control" placeholder="£0.00">
                  </div>
                </div>
              </div>-->

              <div class="row">
                <div class="actions-row" id="btn-images-1">
                  <a onclick="$('#container-images').removeClass('hide'), $('#btn-images-1').addClass('hide')" id="">Add Images</a>
                </div>
              </div>

                  <div class="row hide" id="container-images">
                    <div class="col-md-12">
                      <label class="control-label">Images</label>
                      <!--<span class="help-block text-left">File help text</span>-->
                        <!--<p>Help sell your room with a photograph</p>-->
                      <form>
                        <ul class="list-unstyled list-inline list-gallery">
                          <li id="img-removed-2">
                            <img src="/img/letting/equipment/lawn-mower-1.jpg" onmouseover="$('#img-control-2').toggleClass('hide')">
                            <div class="actions hide" id="img-control-2">
                              <a class="btn btn-danger" onclick="$('#img-removed-2').addClass('hide')">
                                <span class="fa fa-close"></span>
                              </a>
                            </div>
                          </li>
                        </ul>
                      </form>

                      <div class="form-group">
                        <input type="file"
                               name="file-2[]" id="file-2"
                               class="inputfile inputfile-2"
                               data-multiple-caption="{count} files selected"
                               multiple />
                        <label for="file-2">
                          <span>Choose file&hellip;</span>
                        </label>
                      </div>
                    </div>
                  </div>

              <div class="row">
                <div class="col-md-12">
                  <label class="control-label">Time &amp; Cost</label>

                  <table class="table table-form table-bordered">
                    <thead>
                      <tr>
                        <th class="room-type">Time</th>
                        <th>Hire Cost</th>
                        <th>Hire Period</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr id="t-c-1">
                        <td class="td-disabled">
                          <div class="form-group">
                            <label class="control-label" for="">
                            </label>
                            <div class="checkbox checkbox-primary">
                             <input id="option1" type="checkbox"  onclick="$('#t-c-1 td').toggleClass('td-disabled'), $('#t-c-1 td.amount .form-group').toggleClass('hide'), $('#t-c-1 td.hire .form-group').toggleClass('hide')">
                                <label for="donor">
                                 Peak
                                 <span>08.00 to 16:00</span>
                                </label>
                             </div>
                          </div>
                        </td>
                        <td class="amount amount-sm td-disabled">
                          <div class="form-group hide">
                            <input class="form-control input-amount" value="£0.00" type="text">
                          </div>
                        </td>
                        <td class="hire td-disabled">
        									<div class="form-group btn-block hide">
        										<select class="selectpicker form-control" data-style="btn btn-default">
        											<option>30 mins</option>
        											<option>per hour</option>
        											<option>half day</option>
        											<option>full day</option>
        										</select>
        									</div>
        								</td>
                      </tr>
                      <tr id="t-c-2">
                        <td class="td-disabled">
                          <div class="form-group">
                            <label class="control-label" for="">
                            </label>
                            <div class="checkbox checkbox-primary">
                             <input id="option1" type="checkbox"  onclick="$('#t-c-2 td').toggleClass('td-disabled'), $('#t-c-2 td.amount .form-group').toggleClass('hide'), $('#t-c-2 td.hire .form-group').toggleClass('hide')">
                                <label for="donor">
                                 Offpeak
                                 <span>16:00 - 19:00</span>
                                </label>
                             </div>
                          </div>
                        </td>
                        <td class="amount amount-sm td-disabled">
                          <div class="form-group hide">
                            <input class="form-control input-amount" value="£0.00" type="text">
                          </div>
                        </td>
                        <td class="hire td-disabled">
        									<div class="form-group btn-block hide">
        										<select class="selectpicker form-control" data-style="btn btn-default">
                              <option>30 mins</option>
        											<option>per hour</option>
        											<option>half day</option>
        											<option>full day</option>
        										</select>
        									</div>
        								</td>
                      </tr>
                      <tr id="t-c-3">
                        <td class="td-disabled">
                          <div class="form-group">
                            <label class="control-label" for="">
                            </label>
                            <div class="checkbox checkbox-primary">
                             <input id="option1" type="checkbox"  onclick="$('#t-c-3 td').toggleClass('td-disabled'), $('#t-c-3 td.amount .form-group').toggleClass('hide'), $('#t-c-3 td.hire .form-group').toggleClass('hide')">
                                <label for="donor">
                                 Weekends
                                 <span>Sat - Sun</span>
                                </label>
                             </div>
                          </div>
                        </td>
                        <td class="amount amount-sm td-disabled">
                          <div class="form-group hide">
                            <input class="form-control input-amount" value="£0.00" type="text">
                          </div>
                        </td>
                        <td class="hire td-disabled">
        									<div class="form-group btn-block hide">
        										<select class="selectpicker form-control" data-style="btn btn-default">
                              <option>30 mins</option>
        											<option>per hour</option>
        											<option>half day</option>
        											<option>full day</option>
        										</select>
        									</div>
        								</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Extra</label>
                    <div class="form-group">
                      <label class="control-label" for="">
                      </label>
                      <div class="checkbox checkbox-info">
                       <input id="donor" value="xx" type="checkbox" onclick="$('#policy-7').toggleClass('hide')">
                          <label for="donor">
                           Documents
                           <span>Attach additional documents </span>
                          </label>
                       </div>
                    </div>
                    <div id="policy-7" class="hide">
                      <div class="panel">
                        <!--<div class="panel-title">Available Documents</div>-->
                        <div class="panel-subnav">
                          <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="row">
                              <div class="col-sm-10">
                                <div class="search">
                                  <input class="form-control" placeholder="Search Documents" type="text">
                                  <i class="glyphicon glyphicon-search"></i>
                                </div>
                              </div>
                              <!--<button class="btn btn-primary col-sm-2">Search</button>-->
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4">
                            <ul class="list-unstyled list-inline pull-right">
                              <li>
                                <a class="btn btn-add" data-toggle="modal" data-target="#myModalLetting-room"><i class="fa fa-plus"></i> Add New</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="panel-body panel-fixed-height">
                          <table class="table table-vam">
                            <thead>
                              <tr>
                                <th></th>
                                <th>File Name</th>
                                <th class="date date-right">Uploaded</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="check">
                                  <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                      <input id="checkbox3" value="option3" type="checkbox">
                                      <label for="checkbox3"></label>
                                    </div>
                                  </div>
                                </td>
                                <td class="document link">
                                  <a data-toggle="modal" data-target="#myModalLetting-doc">
                                    <i class="fa fa-file-text-o"></i> School Map
                                  </a>
                                </td>
                                <td class="date date-right">02/04/2015</td>
                              </tr>
                              <tr>
                                <td class="check">
                                  <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                      <input id="checkbox3" value="option3" type="checkbox">
                                      <label for="checkbox3"></label>
                                    </div>
                                  </div>
                                </td>
                                <td class="document link">
                                  <a data-toggle="modal" data-target="#myModalLetting-doc">
                                    <i class="fa fa-file-picture-o"></i> Safety Certificate for the swimming pool
                                  </a>
                                </td>
                                <td class="date date-right">02/04/2015</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="panel-footer panel-footer-gray">
                          <div class="pull-right">
                            <div class="page-total">
                              Selected 0 of 2
                            </div>
                          </div>
                        </div>
                      </div>
                      </textarea>
                    </div>
                  <div class="form-group">
                    <label class="control-label" for=""></label>
                    <div class="checkbox checkbox-primary">
                      <input id="donor" value="" type="checkbox">
                      <label for="donor">
                       Terms and Conditions Form
                       <span>This will attach the <a href="">Terms and Conditions Form</a></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col-md-12">
                  <label class="control-label">Booking Details</label>
                  <!--<div class="form-group">
                    <label class="control-label" for="">
                    </label>
                    <div class="checkbox checkbox-primary">
                     <input id="contact" type="checkbox" onclick="$('#contact-id-blank').toggleClass('hide'), $('#contact-id-complete').toggleClass('hide') ">
                        <label for="contact">
                        Use School Contact Details
                        </label>
                     </div>
                  </div>-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label" for="">Name
                        </label>
                        <input class="form-control" placeholder="Name" type="text" value="Office">
                      </div>
                    </div>
                  </div>

                  <div class="row" id="contact-id-complete">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Telephone Number</label>
                        <input class="form-control" placeholder="Telephone Number" type="text" value="08453101788">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Email Address</label>
                        <input class="form-control" placeholder="Email Address" type="text" value="info@fundraisingschool.org.uk">
                      </div>
                    </div>
                  </div>
                  <div class="actions-row" id="btn-notes-hire-add">
                    <a class="" onclick="$('#notes-hire-add').removeClass('hide'), $('#btn-notes-hire-add').addClass('hide')">Add Notes</a>
                  </div>

                  <div class="row hide" id="notes-hire-add">
                    <hr/>
                    <div class="col-md-12">
                      <label class="control-label">Office use only</label>
                      <div class="form-group">
                        <label class="control-label">Storage Location</label>
                        <input class="form-control" type="text" placeholder="Storage Location">
                      </div>
                      <div class="form-group">
                        <label class="control-label">Notes</label>
                        <textarea class="field form-control"  placeholder="" ></textarea>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>


            <div id="letting-facility" class="hide">
            <div class="row" >
              <div class="col-md-7">
                <div class="form-group">
                  <label class="control-label">Name</label>
                  <input class="form-control" type="text" placeholder="Name">
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label class="control-label">Room Type</label>
                    <select class="selectpicker form-control" data-style="btn btn-default">
                      <option selected>Large Hall</option>
                      <option>Small Hall</option>
                      <option>Sports Hall</option>
                      <option>Gymnasium</option>
                      <option>Library</option>
                      <option>Kitchen</option>
                      <option>Meeting Room</option>
                      <option>Conference Room</option>
                      <option>Classroom</option>
                      <option>Meeting Room</option>
                      <option>Sports Field</option>
                      <option>Tennis Courts</option>
                      <option>Swimming Pool</option>
                      <option>Other</option>
                    </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Description{% include input-tips.html %}</label>
                  <textarea class="field form-control"  placeholder="" ></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Max Capacity</label>
                  <input class="form-control" value="Large Hall" type="number" placeholder="0">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="control-label-lg">Includes</div>
                <ul class="list-unstyled list-services row">
                  <div class="col-md-6">
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">Parking</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">Disabled Parking</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">Disabled Access</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">WiFi</label>
                      </div>
                    </li>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">AV Equipment</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">Air Conditioning</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">Other</label>
                      </div>
                    </li>
                  </div>
                  </ul>
                </div>
            </div>
            <div class="row">
              <div class="actions-row" id="btn-images">
                <a onclick="$('#container-images-2').removeClass('hide'), $('#btn-images').addClass('hide')" id="">Add  Images</a>
              </div>
            </div>

            <div class="row hide" id="container-images-2">
              <div class="col-md-12">
                <label class="control-label">Images</label>
                  <!--<p>Help sell your room with a photograph</p>-->
                <form>
                  <ul class="list-unstyled list-inline list-gallery">
                    <li id="img-removed">
                      <img src="/img/letting/facilities/meeting-test.jpg" onmouseover="$('#img-control').toggleClass('hide')">
                      <div class="actions hide" id="img-control">
                        <a class="btn btn-danger" onclick="$('#img-removed').addClass('hide')">
                          <span class="fa fa-close"></span>
                        </a>
                      </div>
                    </li>
                  </ul>
                </form>
                <!--<ul class="list-unstyled list-inline list-images">
                  <li>
                    <img src="/img/letting/equipment/meeting-test.jpg" class="">
                  </li>
                  <li class="upload">
                  </li>
                </ul>-->

                <div class="form-group">
                  <input type="file"
                         name="file-2[]" id="file-2"
                         class="inputfile inputfile-2"
                         data-multiple-caption="{count} files selected"
                         multiple />
                  <label for="file-2">
                    <span>Choose file&hellip;</span>
                  </label>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label">Facility Address</label>
                  <input class="form-control" type="text" placeholder="Address">
                </div>
                <div class="form-group">
                  <label class="control-label">Town</label>
                  <input class="form-control" type="text" placeholder="Town">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Postcode</label>
                  <input class="form-control" type="text" placeholder="Postcode">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="control-label">Time &amp; Cost</label>

                <table class="table table-form table-bordered">
                  <thead>
                    <tr>
                      <th class="room-type">Time</th>
                      <th>Hire Cost</th>
                      <th>Hire Period</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr id="t-c-4">
                      <td class="td-disabled">
                        <div class="form-group">
                          <label class="control-label" for="">
                          </label>
                          <div class="checkbox checkbox-primary">
                           <input id="option4" type="checkbox"  onclick="$('#t-c-4 td').toggleClass('td-disabled'), $('#t-c-4 td.amount .form-group').toggleClass('hide'), $('#t-c-4 td.hire .form-group').toggleClass('hide')">
                              <label for="donor">
                               Peak
                               <span>08.00 to 16:00</span>
                              </label>
                           </div>
                        </div>
                      </td>
                      <td class="amount amount-sm td-disabled">
                        <div class="form-group hide">
                          <input class="form-control input-amount" value="£0.00" type="text">
                        </div>
                      </td>
                      <td class="hire td-disabled">
                        <div class="form-group btn-block hide">
                          <select class="selectpicker form-control" data-style="btn btn-default">
                            <option>30 mins</option>
                            <option>per hour</option>
                            <option>half day</option>
                            <option>full day</option>
                          </select>
                        </div>
                      </td>
                    </tr>
                    <tr id="t-c-5">
                      <td class="td-disabled">
                        <div class="form-group">
                          <label class="control-label" for="">
                          </label>
                          <div class="checkbox checkbox-primary">
                           <input id="option5" type="checkbox"  onclick="$('#t-c-5 td').toggleClass('td-disabled'), $('#t-c-5 td.amount .form-group').toggleClass('hide'), $('#t-c-5 td.hire .form-group').toggleClass('hide')">
                              <label for="donor">
                               Offpeak
                               <span>16:00 - 19:00</span>
                              </label>
                           </div>
                        </div>
                      </td>
                      <td class="amount amount-sm td-disabled">
                        <div class="form-group hide">
                          <input class="form-control input-amount" value="£0.00" type="text">
                        </div>
                      </td>
                      <td class="hire td-disabled">
                        <div class="form-group btn-block hide">
                          <select class="selectpicker form-control" data-style="btn btn-default">
                            <option>30 mins</option>
                            <option>per hour</option>
                            <option>half day</option>
                            <option>full day</option>
                          </select>
                        </div>
                      </td>
                    </tr>
                    <tr id="t-c-6">
                      <td class="td-disabled">
                        <div class="form-group">
                          <label class="control-label" for="">
                          </label>
                          <div class="checkbox checkbox-primary">
                           <input id="option6" type="checkbox"  onclick="$('#t-c-6 td').toggleClass('td-disabled'), $('#t-c-6 td.amount .form-group').toggleClass('hide'), $('#t-c-6 td.hire .form-group').toggleClass('hide')">
                              <label for="donor">
                               Weekends
                               <span>Sat - Sun</span>
                              </label>
                           </div>
                        </div>
                      </td>
                      <td class="amount amount-sm td-disabled">
                        <div class="form-group hide">
                          <input class="form-control input-amount" value="£0.00" type="text">
                        </div>
                      </td>
                      <td class="hire td-disabled">
                        <div class="form-group btn-block hide">
                          <select class="selectpicker form-control" data-style="btn btn-default">
                            <option>30 mins</option>
                            <option>60 mins</option>
                            <option>90 mins</option>
                            <option>Day</option>
                          </select>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <hr/>

                <div class="row">
                  <div class="col-md-12">
                      <label class="control-label">Extra</label>
                    <div class="form-group">
                      <label class="control-label" for="">
                      </label>
                      <div class="checkbox checkbox-info">
                       <input id="donor" value="xx" type="checkbox" onclick="$('#policy-7').toggleClass('hide')">
                          <label for="donor">
                           Documents
                           <span>Attach additional documents </span>
                          </label>
                       </div>
                    </div>
                    <div id="policy-7" class="hide">
                      <div class="panel">
                        <!--<div class="panel-title">Available Documents</div>-->
                        <div class="panel-subnav">
                          <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="row">
                              <div class="col-sm-10">
                                <div class="search">
                                  <input class="form-control" placeholder="Search Documents" type="text">
                                  <i class="glyphicon glyphicon-search"></i>
                                </div>
                              </div>
                              <!--<button class="btn btn-primary col-sm-2">Search</button>-->
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4">
                            <ul class="list-unstyled list-inline pull-right">
                              <li>
                                <a class="btn btn-add" data-toggle="modal" data-target="#myModalLetting-room"><i class="fa fa-plus"></i> Add New</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="panel-body panel-fixed-height">
                          <table class="table table-vam">
                            <thead>
                              <tr>
                                <th></th>
                                <th>File Name</th>
                                <th class="date date-right">Uploaded</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="check">
                                  <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                      <input id="checkbox3" value="option3" type="checkbox">
                                      <label for="checkbox3"></label>
                                    </div>
                                  </div>
                                </td>
                                <td class="document link">
                                  <a data-toggle="modal" data-target="#myModalLetting-doc">
                                    <i class="fa fa-file-text-o"></i> School Map
                                  </a>
                                </td>
                                <td class="date date-right">02/04/2015</td>
                              </tr>
                              <tr>
                                <td class="check">
                                  <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                      <input id="checkbox3" value="option3" type="checkbox">
                                      <label for="checkbox3"></label>
                                    </div>
                                  </div>
                                </td>
                                <td class="document link">
                                  <a data-toggle="modal" data-target="#myModalLetting-doc">
                                    <i class="fa fa-file-picture-o"></i> Safety Certificate for the swimming pool
                                  </a>
                                </td>
                                <td class="date date-right">02/04/2015</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="panel-footer panel-footer-gray">
                          <div class="pull-right">
                            <div class="page-total">
                              Selected 0 of 2
                            </div>
                          </div>
                        </div>
                      </div>
                      </textarea>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for=""></label>
                      <div class="checkbox checkbox-primary">
                        <input id="donor" value="" type="checkbox">
                        <label for="donor">
                         Terms and Conditions Form
                         <span>This will attach the <a href="">Terms and Conditions Form</a></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr/>
                <div class="row">
                  <div class="col-md-12">
                    <label class="control-label">Booking Details</label>
                    <!--<div class="form-group">
                      <label class="control-label" for="">
                      </label>
                      <div class="checkbox checkbox-primary">
                       <input id="contact-2" type="checkbox" onclick="$('#contact-id-blank-2').toggleClass('hide'), $('#contact-id-complete-2').toggleClass('hide') ">
                          <label for="contact">
                          Use School Contact Details
                          </label>
                       </div>
                    </div>-->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label" for="">Name
                          </label>
                          <input class="form-control" placeholder="Name" type="text" value="Office">
                        </div>
                      </div>
                    </div>
                    <div class="row hide" id="contact-id-blank-2">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">Telephone Number</label>
                          <input class="form-control" placeholder="Telephone Number" type="text">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">Email Address</label>
                          <input class="form-control" placeholder="Email Address" type="text">
                        </div>
                      </div>
                    </div>
                    <div class="row " id="contact-id-complete-2">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">Telephone Number</label>
                          <input class="form-control" placeholder="Telephone Number" type="text" value="08453101788">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">Email Address</label>
                          <input class="form-control" placeholder="Email Address" type="text" value="info@fundraisingschool.org.uk">
                        </div>
                      </div>
                    </div>

                    <div class="actions-row" id="btn-notes-letting-add">
                      <a class="" onclick="$('#notes-letting-add').removeClass('hide'), $('#btn-notes-letting-add').addClass('hide')">Add Notes</a>
                    </div>

                    <div class="row hide" id="notes-letting-add">
                      <hr/>
                      <div class="col-md-12">
                        <label class="control-label">Office use only</label>
                        <div class="form-group">
                          <label class="control-label">Notes</label>
                          <textarea class="field form-control"  placeholder="" ></textarea>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer hide" id="letting-footer">
        <div class="pull-left">
          <a class="btn btn-default" data-dismiss="modal"><i class="fa fa-trash-o"></i>
            Abandon
          </a>
        </div>
        <div class="pull-right">
          <button type="button"
                  class="btn btn-add"
                  data-dismiss="modal"
                  onclick="$('#letting1').removeClass('hide'),
                           $('#letting-list').removeClass('hide'),
                           $('#jumbo').addClass('hide'),
                           setTimeout(function(){ $('#alert').hide(); }, 10000);">
                          Create Letting
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
