

<div class="modal fade" id="myModalPot" tabindex="-1" role="dialog" aria-labelledby="myModalLabelPot">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">General Pot
            <span class="block">The general pot is where all your income goes if it hasn't been allocated to a project. You can use the general pot for activities that can be used to fund multiple projects, such as open donations. Use the transfer facility to allocate money to a project from the general fund. </span>
          </div>
        </div>

        <div class="text-center">
          <h2>£10,000.00</h2>
        </div>

        <div class="actions-row">
          <a class="btn btn-info" onclick="$('#transfer').toggleClass('hide')">Transfer funds to Project</a>
        </div>

        <div id="transfer" class="hide">
          <div class="alert alert-warning">
            <strong>Caution:</strong> You can transfer money raised from the General Pot to any of your Projects, once completed this can not be undone.
          </div>

        </div>


      </div>

    <!--  <div class="modal-footer">
        <div class="pull-left">
          <a  data-dismiss="modal" aria-label="Close" class="btn btn-default">Close</a>
        </div>
      </div>-->
    </div>

  </div>
</div>
