

<div class="modal fade" id="myModalSRM-campaign-ga" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSRM-campaign-ga">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <span class="initials campaign">
            <i class="fa fa-paper-plane"></i>
          </span>
          <div class="title">#001 - Gift Aid Eligible Stakeholders</div>
          <span></span>
          <div class="flex-center-row">
            <div class="col-md-10">
              <p>
                Collect all avaiable Gift Aid Declaration forms from your stakeholders to allow you to claim an additional 25% on all Gift Aid Eligible Transactions and Donations.
              </p>
            </div>
          </div>
        </div>


            <div class="panel-body">
              <ul class="list-unstyled list-tasks">
                <li>
                  <div class="form-group">
                    <div class="checkbox checkbox-success">
                      <input id="checkbox1" checked="" value="option1" type="checkbox">
                      <label for="checkbox1">Step 1 - Download our Gift Aid template
                        <span>Download our handout that can be sent to your stakeholders.</span>
                      </label>
                    </div>
                  </div>
                  <div class="actions-row">
                    <a href="#" class="btn btn-info"><i class="fa fa-download"></i> Download Template</a>
                  </div>
                </li>
                <li>
                  <div class="form-group">
                    <div class="checkbox checkbox-success">
                      <input id="checkbox2" checked="" value="option2" type="checkbox">
                      <label for="checkbox2">Step 2 - Download your stakeholders list
                        <span>Here is all your contacts who have not yet provide Gift Aid details.</span>
                      </label>
                    </div>
                  </div>
                  <div class="actions-row">
                    <a href="#" class="btn btn-info"><i class="fa fa-download"></i> Download Data</a>
                  </div>
                </li>
                <li>
                  <div class="form-group">
                    <div class="checkbox checkbox-success">
                      <input id="checkbox3" value="option3" type="checkbox">
                      <label for="checkbox3">Step 3 - Send Letters
                        <span>Send the Gift Aid template to all of your stakeholders and wait.</span>
                      </label>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

      </div>

      <div class="modal-footer">
        <div class="pull-left">
          <a  data-dismiss="modal" aria-label="Close" class="btn btn-default">Close</a>
        </div>
        <div class="pull-right">
          <a data-dismiss="modal" aria-label="Close" class="btn btn-primary"> Complete Campaign
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
