<div class="modal fade" id="dashboard-joinos" tabindex="-1" role="dialog" aria-labelledby="dashboard-joinos">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <!--<div class="body-title">
          <i class="fa fa-question-circle fa-xl text-info"></i>
          <div class="title">Thank Donors</div>
          <span class="block">Action Completed</span>
          <p>You are about to import this amount of names.</p>
        </div>-->

<!--

<textarea class="field form-control"  placeholder="">
</textarea

-->

        joinos


      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <a class="btn btn-default"><i class="fa fa-trash"></i> Abandon</a>
        </div>
        <div class="pull-right"><a class="btn btn-primary"><i class="fa fa-paper-plane-o"></i> Send Message</a></div>
      </div>
    </div>
  </div>
</div>
