<!-- Modal -->
<div class="modal fade" id="myModal-transaction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <i class="fa fa-money fa-xl text-info"></i>
          <div class="title">#001
          </div>
          <span class="block">05/05/2015</span>
        </div>
        <div class="text-center">
          <h2>Adam Hogg</h2>
          <p>
            Deposit for trip to beamish
          </p>
        </div>



        <!--<ul class="list-unstyled list-stats">
          <li>Name<span>Adam Hogg</span></li>
          <li>x<span class="">Deposit for trip to beamish</span></li>
        </ul>-->
        <div class="body-title">
          <div class="title">
            &pound;10.00 <i class=""></i>
            <span class="block">Cash</span>
          </div>
          <span class="text-donations">(Gift Aid Eligible)</span>


        </div>

        <div class="actions-row">
          <a class="btn btn-default" data-dismiss="modal">
            Close Window
          </a>
        </div>
      </div>
      <!--<div class="modal-footer">
        <div class="pull-left">
          <a href="" class="btn btn-danger"><i class="fa fa-trash"></i> Delete Transaction</a>
        </div>
      </div>-->
    </div>
  </div>
</div>
