<div class="modal fade" id="myModalLetting-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabelLetting-details">
  <div class="modal-dialog" role="document" id="modal-size-letting">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">Letting 1</div>
          <span class="">What would you like to Let out?</span>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <a class="btn btn-edit" data-dismiss="modal"><i class="fa fa-pencil"></i>
            Edit
          </a>
        </div>
        <div class="pull-right">
          <ul class="list-unstyled list-inline">
            <li>
              <a class="btn btn-default"><i class="fa fa-print"></i> Print</a>
            </li>
            <li>
              <a class="btn btn-default"><i class="fa fa-share-alt"></i> Share</a>
            </li>
            <li>
              <a class="btn btn-default" data-dismiss="modal">Close</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
