<div class="modal fade" id="myModalService-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabelService-new">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">Create Service</div>
          <span>What Services would you like to provide?</span>
        </div>
        <div class="row">
          <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">

            <div id="service-type" class="hide">
              <div class="actions-row">
                <h3>What type of service is this?</h3>
                <a class="btn btn-default" onclick="$('#service-test').removeClass('hide'), $('#service-type').addClass('hide')">xxxx
                  <i class="m-l-sm fa fa-chevron-down"></i>
                </a>
              </div>
            </div>

            <div class="row text-center m-b-xl" id="service-options">
              <div class="col-lg-6 col-md-6">
                <div class="body-title">
                  <span class="">
                    <i class="fa fa-child fa-xl">
                    </i>
                  </span>
                  <div class="title">
                    Skilled
                  </div>
                  <p>Teaching, Education, Knowledge </p>
                </div>
                <a class="btn btn-default" onclick="$('#services-facility').removeClass('hide'), $('#service-options').addClass('hide'), $('#service-footer').removeClass('hide')">Select</a>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="body-title">
                  <span class="">
                    <i class="fa fa-magic fa-xl">
                    </i>
                  </span>
                  <div class="title">Resources</div>
                  <p>Printing, Catering, Aid</p>
                </div>
                <a class="btn btn-default" onclick="$('#services-resources').removeClass('hide'), $('#service-options').addClass('hide'), $('#service-footer').removeClass('hide')">Select</a>
              </div>
            </div>

            <div id="services-facility" class="hide">
              <div class="row">
                <div class="col-md-7">
                  <div class="form-group">
                    <label class="control-label">Service Name</label>
                    <input class="form-control" type="text" placeholder="Service Name">
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="control-label">Type</label>
                      <select class="selectpicker form-control" data-style="btn btn-default">
                        <option>Teaching</option>
                        <option>Staff</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
              		<div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea class="field form-control"  placeholder=""></textarea>
                  </div>
      					</div>
      				</div>

              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="control-label">Service Address</label>
                    <input class="form-control" type="text" placeholder="Service Address" value="Funding School">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">Postcode</label>
                    <input class="form-control" type="text" placeholder="Postcode" value="NE12QB">
                  </div>
                </div>
              </div>

              <div class="row hide">
                <div class="col-md-12">
                  <label class="control-label">Time &amp; Cost</label>
                  <table class="table table-form table-bordered">
                    <thead>
                      <tr>
                        <th class="room-type">Time</th>
                        <th>Hire Cost</th>
                        <th>Hire Period</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr id="t-c-1">
                        <td class="td-disabled">
                          <div class="form-group">
                            <label class="control-label" for="">
                            </label>
                            <div class="checkbox checkbox-primary">
                             <input id="option1" type="checkbox"  onclick="$('#t-c-1 td').toggleClass('td-disabled'), $('#t-c-1 td.amount .form-group').toggleClass('hide'), $('#t-c-1 td.hire .form-group').toggleClass('hide')">
                                <label for="donor">
                                 Peak
                                 <span>08.00 to 16:00</span>
                                </label>
                             </div>
                          </div>
                        </td>
                        <td class="amount amount-sm td-disabled">
                          <div class="form-group hide">
                            <input class="form-control input-amount" value="£0.00" type="text">
                          </div>
                        </td>
                        <td class="hire td-disabled">
        									<div class="form-group btn-block hide">
        										<select class="selectpicker form-control" data-style="btn btn-default">
        											<option>30 mins</option>
        											<option>per hour</option>
        											<option>half day</option>
        											<option>full day</option>
        										</select>
        									</div>
        								</td>
                      </tr>
                     </tbody>
                  </table>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col-md-12">
                  <label class="control-label">Booking Details</label>
                  <!--<div class="form-group">
                    <label class="control-label" for="">
                    </label>
                    <div class="checkbox checkbox-primary">
                     <input id="contact" type="checkbox" onclick="$('#contact-id-blank').toggleClass('hide'), $('#contact-id-complete').toggleClass('hide') ">
                        <label for="contact">
                        Use School Contact Details
                        </label>
                     </div>
                  </div>-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label" for="">Name
                        </label>
                        <input class="form-control" placeholder="Name" type="text" value="Office">
                      </div>
                    </div>
                  </div>
                  <div class="row hide" id="contact-id-blank">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Telephone Number</label>
                        <input class="form-control" placeholder="Telephone Number" type="text">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Email Address</label>
                        <input class="form-control" placeholder="Email Address" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row" id="contact-id-complete">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Telephone Number</label>
                        <input class="form-control" placeholder="Telephone Number" type="text" value="08453101788">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Email Address</label>
                        <input class="form-control" placeholder="Email Address" type="text" value="info@fundraisingschool.org.uk">
                      </div>
                    </div>
                  </div>
                  <div class="actions-row" id="btn-notes-hire-add">
                    <a class="" onclick="$('#notes-hire-add').removeClass('hide'), $('#btn-notes-hire-add').addClass('hide')">Add Notes</a>
                  </div>

                  <div class="row hide" id="notes-hire-add">
                    <hr/>
                    <div class="col-md-12">
                      <label class="control-label">Office use only</label>
                      <div class="form-group">
                        <label class="control-label">Notes</label>
                        <textarea class="field form-control"  placeholder="" ></textarea>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>

            <!-- Resources -->
            <div id="services-resources" class="hide">
              <div class="row">
                <div class="col-md-7">
                  <div class="form-group">
                    <label class="control-label">Service Name</label>
                    <input class="form-control" type="text" placeholder="Service Name">
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="control-label">Type</label>
                      <select class="selectpicker form-control" data-style="btn btn-default">
                        <option>Teaching</option>
                        <option>Staff</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
              		<div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea class="field form-control"  placeholder=""></textarea>
                  </div>
      					</div>
      				</div>

              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="control-label">Service Address</label>
                    <input class="form-control" type="text" placeholder="Service Address" value="Funding School">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">Postcode</label>
                    <input class="form-control" type="text" placeholder="Postcode" value="NE12QB">
                  </div>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col-md-12">
                  <label class="control-label">Booking Details</label>
                  <!--<div class="form-group">
                    <label class="control-label" for="">
                    </label>
                    <div class="checkbox checkbox-primary">
                     <input id="contact" type="checkbox" onclick="$('#contact-id-blank').toggleClass('hide'), $('#contact-id-complete').toggleClass('hide') ">
                        <label for="contact">
                        Use School Contact Details
                        </label>
                     </div>
                  </div>-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label" for="">Name
                        </label>
                        <input class="form-control" placeholder="Name" type="text" value="Office">
                      </div>
                    </div>
                  </div>
                  <div class="row hide" id="contact-id-blank">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Telephone Number</label>
                        <input class="form-control" placeholder="Telephone Number" type="text">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Email Address</label>
                        <input class="form-control" placeholder="Email Address" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row" id="contact-id-complete">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Telephone Number</label>
                        <input class="form-control" placeholder="Telephone Number" type="text" value="08453101788">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Email Address</label>
                        <input class="form-control" placeholder="Email Address" type="text" value="info@fundraisingschool.org.uk">
                      </div>
                    </div>
                  </div>
                  <div class="actions-row" id="btn-notes-hire-add">
                    <a class="" onclick="$('#notes-hire-add').removeClass('hide'), $('#btn-notes-hire-add').addClass('hide')">Add Notes</a>
                  </div>

                  <div class="row hide" id="notes-hire-add">
                    <hr/>
                    <div class="col-md-12">
                      <label class="control-label">Office use only</label>
                      <div class="form-group">
                        <label class="control-label">Notes</label>
                        <textarea class="field form-control"  placeholder="" ></textarea>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <!-- end Resources -->
          </div>
        </div>

      </div>
      <div class="modal-footer hide" id="service-footer">
        <div class="pull-left">
          <a class="btn btn-default" data-dismiss="modal"><i class="fa fa-trash-o"></i>
            Abandon
          </a>
        </div>
        <div class="pull-right">
          <button type="button"
                  class="btn btn-add"
                  data-dismiss="modal"
                  onclick="$('#service1').removeClass('hide'),
                           $('#service-list').removeClass('hide'),
                           $('#jumbo').addClass('hide'),
                           setTimeout(function(){ $('#alert').hide(); }, 10000);">
                          Create Service
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
