<div class="modal fade" id="dashboard-thank" tabindex="-1" role="dialog" aria-labelledby="dashboard-thank">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <!--<i class="fa fa-question-circle fa-xl text-info"></i>-->
          <div class="title">Thank Donors</div>
          <p>Thank all of your donors can increase engagement by 72%</p>
        </div>

        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="panel panel-mail">
              <form class="form-horizontal">
                <div class="panel-title">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label class="control-label" for="">To</label>
                    </div>
                    <div class="col-sm-10">
                      <input class="form-control" value="15 Contacts" type="text" disabled="">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-2">
                      <label class="control-label" for="">Subject</label>
                    </div>
                    <div class="col-sm-10">
                      <input class="form-control col-sm-10" value="Thank you for your Donation" type="text" placeholder="Subject">
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <p>Thank You!</p>
                  <p>Thank you for taking the time to donate towards the <strong>"The Exploration Deck"</strong> project. It means a lot to our school and we greatly apprechiate your kind gesture.</p>

                  <p>Many Thanks Again!</p>

                  <strong>The Funding School</strong>
                </div>

                <div class="panel-footer hide">
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <a class="btn btn-default"><i class="fa fa-trash"></i> Abandon</a>
        </div>
        <div class="pull-right"><a class="btn btn-primary"><i class="fa fa-paper-plane-o"></i> Send Message</a></div>
      </div>
    </div>
  </div>
</div>
