<div class="modal fade" id="myModalService-new" tabindex="-1" role="dialog" aria-labelledby="myModalLabelService-new">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">Create
            <div id="title-skills" class="hide">Skills</div>
            <div id="title-resource" class="hide">Skills</div>
             Service
           </div>
          <span>What Services would you like to provide?</span>
        </div>
        <div class="row">
          <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">

            <div id="service-type" class="hide">
              <div class="actions-row">
                <h3>What type of service is this?</h3>
                <a class="btn btn-default" onclick="$('#service-test').removeClass('hide'), $('#service-type').addClass('hide')">xxxx
                  <i class="m-l-sm fa fa-chevron-down"></i>
                </a>
              </div>
            </div>

            <div class="row text-center m-b-xl" id="service-options">
              <div class="col-lg-6 col-md-6">
                <div class="body-title">
                  <span class="">
                    <i class="fa fa-child fa-xl">
                    </i>
                  </span>
                  <div class="title">
                    Skills
                  </div>
                  <p>Teaching, Finance, Support </p>
                </div>
                <a class="btn btn-default" onclick="$('#services-facility').removeClass('hide'), $('#service-options').addClass('hide'), $('#service-footer').removeClass('hide'), $('#title-skills').removeClass('hide'), $('#title-skills').addClass('inline')">Select</a>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="body-title">
                  <span class="">
                    <i class="fa fa-magic fa-xl">
                    </i>
                  </span>
                  <div class="title">Resources</div>
                  <p>Printing, Catering, ICT</p>
                </div>
                <a class="btn btn-default" onclick="$('#services-resources').removeClass('hide'), $('#service-options').addClass('hide'), $('#service-footer').removeClass('hide'), $('#title-resource').removeClass('hide'), $('#title-resource').addClass('inline')">Select</a>
              </div>
            </div>

            <div id="services-facility" class="hide">
              <div class="row">
                <div class="col-md-7">
                  <div class="form-group">
                    <label class="control-label">Name</label>
                    <input class="form-control" type="text" placeholder="Name">
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="control-label">Type</label>
                      <select class="selectpicker form-control" data-style="btn btn-default">
                        <option>Teaching</option>
                        <option>Staff</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
              		<div class="form-group">
                    <label class="control-label">Description {% include input-tips.html %}</label>
                    <textarea class="field form-control"  placeholder=""></textarea>
                  </div>
      					</div>
      				</div>

              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="control-label">Address</label>
                    <input class="form-control" type="text" placeholder="Address" value="Funding School">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">Postcode</label>
                    <input class="form-control" type="text" placeholder="Postcode" value="NE12QB">
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-12">
                  <label class="control-label">Cost</label>
                  <table class="table table-form table-bordered">
                    <thead>
                      <tr>
                        <th class="room-type">Type</th>
                        <th>Price</th>
                        <th>Metric</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr id="t-service-cost-1">
                        <td class="">
                          <div class="form-group">
                            <input class="form-control" value="" type="text" placeholder="Label">
                          </div>
                        </td>
                        <td class="amount amount-sm">
                          <div class="form-group">
                            <input class="form-control input-amount" value="£0.00" type="text">
                          </div>
                        </td>
                        <td class="">
        									<div class="form-group btn-block">
        										<select class="selectpicker form-control" data-style="btn btn-default">
        											<option>per hour</option>
        											<option>per day</option>
        											<option>per task</option>
        											<option>per unit</option>
                              <option>per item</option>
                              <option>per session</option>
        										</select>
        									</div>
        								</td>
                      </tr>
                      <tr id="t-service-cost-2" class="hide">
                        <td class="">
                          <div class="form-group">
                            <input class="form-control" value="" type="text" placeholder="Label">
                          </div>
                        </td>
                        <td class="amount amount-sm">
                          <div class="form-group">
                            <input class="form-control input-amount" value="£0.00" type="text">
                          </div>
                        </td>
                        <td class="">
        									<div class="form-group btn-block">
        										<select class="selectpicker form-control" data-style="btn btn-default">
        											<option>per hour</option>
        											<option>per day</option>
        											<option>per task</option>
        											<option>per unit</option>
                              <option>per item</option>
                              <option>per session</option>
        										</select>
        									</div>
        								</td>
                      </tr>
                      <tr>
                        <td colspan="3">
                          <a class="btn btn-add" onclick="$('#t-service-cost-2').removeClass('hide')"><i class="fa fa-plus"></i>Add More</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Extra</label>
                    <div class="form-group">
                      <label class="control-label" for="">
                      </label>
                      <div class="checkbox checkbox-info">
                       <input id="donor" value="xx" type="checkbox" onclick="$('#policy-9').toggleClass('hide')">
                          <label for="donor">
                           Documents
                           <span>Attach additional documents </span>
                          </label>
                       </div>
                    </div>
                    <div id="policy-9" class="hide">
                      <div class="panel">
                        <!--<div class="panel-title">Available Documents</div>-->
                        <div class="panel-subnav">
                          <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="row">
                              <div class="col-sm-10">
                                <div class="search">
                                  <input class="form-control" placeholder="Search Documents" type="text">
                                  <i class="glyphicon glyphicon-search"></i>
                                </div>
                              </div>
                              <!--<button class="btn btn-primary col-sm-2">Search</button>-->
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4">
                            <ul class="list-unstyled list-inline pull-right">
                              <li>
                                <a class="btn btn-add" data-toggle="modal" data-target="#myModalLetting-room"><i class="fa fa-plus"></i> Add New</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="panel-body panel-fixed-height">
                          <table class="table table-vam">
                            <thead>
                              <tr>
                                <th></th>
                                <th>File Name</th>
                                <th class="date date-right">Uploaded</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="check">
                                  <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                      <input id="checkbox3" value="option3" type="checkbox">
                                      <label for="checkbox3"></label>
                                    </div>
                                  </div>
                                </td>
                                <td class="document link">
                                  <a data-toggle="modal" data-target="#myModalLetting-doc">
                                    <i class="fa fa-file-text-o"></i> School Map
                                  </a>
                                </td>
                                <td class="date date-right">02/04/2015</td>
                              </tr>
                              <tr>
                                <td class="check">
                                  <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                      <input id="checkbox3" value="option3" type="checkbox">
                                      <label for="checkbox3"></label>
                                    </div>
                                  </div>
                                </td>
                                <td class="document link">
                                  <a data-toggle="modal" data-target="#myModalLetting-doc">
                                    <i class="fa fa-file-picture-o"></i> Safety Certificate for the swimming pool
                                  </a>
                                </td>
                                <td class="date date-right">02/04/2015</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="panel-footer panel-footer-gray">
                          <div class="pull-right">
                            <div class="page-total">
                              Selected 0 of 2
                            </div>
                          </div>
                        </div>
                      </div>
                      </textarea>
                    </div>

                  <div class="form-group">
                    <label class="control-label" for=""></label>
                    <div class="checkbox checkbox-primary">
                      <input id="donor" value="" type="checkbox">
                      <label for="donor">
                       Terms and Conditions Form
                       <span>This will attach the <a href="">Terms and Conditions Form</a></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col-md-12">
                  <label class="control-label">Booking Details</label>
                  <!--<div class="form-group">
                    <label class="control-label" for="">
                    </label>
                    <div class="checkbox checkbox-primary">
                     <input id="contact" type="checkbox" onclick="$('#contact-id-blank').toggleClass('hide'), $('#contact-id-complete').toggleClass('hide') ">
                        <label for="contact">
                        Use School Contact Details
                        </label>
                     </div>
                  </div>-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label" for="">Name
                        </label>
                        <input class="form-control" placeholder="Name" type="text" value="Office">
                      </div>
                    </div>
                  </div>
                  <div class="row hide" id="contact-id-blank">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Telephone Number</label>
                        <input class="form-control" placeholder="Telephone Number" type="text">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Email Address</label>
                        <input class="form-control" placeholder="Email Address" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row" id="contact-id-complete">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Telephone Number</label>
                        <input class="form-control" placeholder="Telephone Number" type="text" value="08453101788">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Email Address</label>
                        <input class="form-control" placeholder="Email Address" type="text" value="info@fundraisingschool.org.uk">
                      </div>
                    </div>
                  </div>
                  <div class="actions-row" id="btn-notes-hire-add">
                    <a class="" onclick="$('#notes-hire-add').removeClass('hide'), $('#btn-notes-hire-add').addClass('hide')">Add Notes</a>
                  </div>

                  <div class="row hide" id="notes-hire-add">
                    <hr/>
                    <div class="col-md-12">
                      <label class="control-label">Office use only</label>
                      <div class="form-group">
                        <label class="control-label">Notes</label>
                        <textarea class="field form-control"  placeholder="" ></textarea>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>

            <!-- Resources -->
            <div id="services-resources" class="hide">
              <div class="row">
                <div class="col-md-7">
                  <div class="form-group">
                    <label class="control-label">Name</label>
                    <input class="form-control" type="text" placeholder="Name">
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="control-label">Type</label>
                      <select class="selectpicker form-control" data-style="btn btn-default">
                        <option>Catering</option>
                        <option>Art &amp; Design</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
              		<div class="form-group">
                    <label class="control-label">Description{% include input-tips.html %}</label>
                    <textarea class="field form-control"  placeholder=""></textarea>
                  </div>
      					</div>
      				</div>

              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="control-label">Address</label>
                    <input class="form-control" type="text" placeholder="Address" value="Funding School">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="control-label">Postcode</label>
                    <input class="form-control" type="text" placeholder="Postcode" value="NE12QB">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <label class="control-label">Cost</label>
                  <table class="table table-form table-bordered">
                    <thead>
                      <tr>
                        <th class="room-type">Type</th>
                        <th>Price</th>
                        <th>Metric</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr id="t-service-cost-1">
                        <td class="">
                          <div class="form-group">
                            <input class="form-control" value="" type="text" placeholder="Label">
                          </div>
                        </td>
                        <td class="amount amount-sm">
                          <div class="form-group">
                            <input class="form-control input-amount" value="£0.00" type="text">
                          </div>
                        </td>
                        <td class="">
        									<div class="form-group btn-block">
        										<select class="selectpicker form-control" data-style="btn btn-default">
        											<option>per hour</option>
        											<option>per day</option>
        											<option>per task</option>
        											<option>per unit</option>
                              <option>per item</option>
                              <option>per session</option>
        										</select>
        									</div>
        								</td>
                      </tr>
                      <tr id="t-service-cost-3" class="hide">
                        <td class="">
                          <div class="form-group">
                            <input class="form-control" value="" type="text" placeholder="Label">
                          </div>
                        </td>
                        <td class="amount amount-sm">
                          <div class="form-group">
                            <input class="form-control input-amount" value="£0.00" type="text">
                          </div>
                        </td>
                        <td class="">
        									<div class="form-group btn-block">
        										<select class="selectpicker form-control" data-style="btn btn-default">
        											<option>per hour</option>
        											<option>per day</option>
        											<option>per task</option>
        											<option>per unit</option>
                              <option>per item</option>
                              <option>per session</option>
        										</select>
        									</div>
        								</td>
                      </tr>
                      <tr>
                        <td colspan="3">
                          <a class="btn btn-add" onclick="$('#t-service-cost-3').removeClass('hide')"><i class="fa fa-plus"></i>Add More</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Extra</label>

                    <div class="form-group">
                      <label class="control-label" for="">
                      </label>
                      <div class="checkbox checkbox-info">
                       <input id="donor" value="xx" type="checkbox" onclick="$('#policy-10').toggleClass('hide')">
                          <label for="donor">
                           Documents
                           <span>Attach additional documents </span>
                          </label>
                       </div>
                    </div>
                    <div id="policy-10" class="hide">
                      <div class="panel">
                        <!--<div class="panel-title">Available Documents</div>-->
                        <div class="panel-subnav">
                          <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="row">
                              <div class="col-sm-10">
                                <div class="search">
                                  <input class="form-control" placeholder="Search Documents" type="text">
                                  <i class="glyphicon glyphicon-search"></i>
                                </div>
                              </div>
                              <!--<button class="btn btn-primary col-sm-2">Search</button>-->
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4">
                            <ul class="list-unstyled list-inline pull-right">
                              <li>
                                <a class="btn btn-add" data-toggle="modal" data-target="#myModalLetting-room"><i class="fa fa-plus"></i> Add New</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="panel-body panel-fixed-height">
                          <table class="table table-vam">
                            <thead>
                              <tr>
                                <th></th>
                                <th>File Name</th>
                                <th class="date date-right">Uploaded</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="check">
                                  <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                      <input id="checkbox3" value="option3" type="checkbox">
                                      <label for="checkbox3"></label>
                                    </div>
                                  </div>
                                </td>
                                <td class="document link">
                                  <a data-toggle="modal" data-target="#myModalLetting-doc">
                                    <i class="fa fa-file-text-o"></i> School Map
                                  </a>
                                </td>
                                <td class="date date-right">02/04/2015</td>
                              </tr>
                              <tr>
                                <td class="check">
                                  <div class="form-group">
                                    <div class="checkbox checkbox-primary">
                                      <input id="checkbox3" value="option3" type="checkbox">
                                      <label for="checkbox3"></label>
                                    </div>
                                  </div>
                                </td>
                                <td class="document link">
                                  <a data-toggle="modal" data-target="#myModalLetting-doc">
                                    <i class="fa fa-file-picture-o"></i> Safety Certificate for the swimming pool
                                  </a>
                                </td>
                                <td class="date date-right">02/04/2015</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="panel-footer panel-footer-gray">
                          <div class="pull-right">
                            <div class="page-total">
                              Selected 0 of 2
                            </div>
                          </div>
                        </div>
                      </div>
                      </textarea>
                    </div>
                  <div class="form-group">
                    <label class="control-label" for=""></label>
                    <div class="checkbox checkbox-primary">
                      <input id="donor" value="" type="checkbox">
                      <label for="donor">
                       Terms and Conditions Form
                       <span>This will attach the <a href="">Terms and Conditions Form</a></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <hr/>

              <div class="row">
                <div class="col-md-12">
                  <label class="control-label">Booking Details</label>
                  <!--<div class="form-group">
                    <label class="control-label" for="">
                    </label>
                    <div class="checkbox checkbox-primary">
                     <input id="contact" type="checkbox" onclick="$('#contact-id-blank').toggleClass('hide'), $('#contact-id-complete').toggleClass('hide') ">
                        <label for="contact">
                        Use School Contact Details
                        </label>
                     </div>
                  </div>-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label" for="">Name
                        </label>
                        <input class="form-control" placeholder="Name" type="text" value="Office">
                      </div>
                    </div>
                  </div>
                  <div class="row hide" id="contact-id-blank">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Telephone Number</label>
                        <input class="form-control" placeholder="Telephone Number" type="text">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Email Address</label>
                        <input class="form-control" placeholder="Email Address" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row" id="contact-id-complete">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Telephone Number</label>
                        <input class="form-control" placeholder="Telephone Number" type="text" value="08453101788">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Email Address</label>
                        <input class="form-control" placeholder="Email Address" type="text" value="info@fundraisingschool.org.uk">
                      </div>
                    </div>
                  </div>
                  <div class="actions-row" id="btn-notes-hire-add">
                    <a class="" onclick="$('#notes-hire-add').removeClass('hide'), $('#btn-notes-hire-add').addClass('hide')">Add Notes</a>
                  </div>

                  <div class="row hide" id="notes-hire-add">
                    <hr/>
                    <div class="col-md-12">
                      <label class="control-label">Office use only</label>
                      <div class="form-group">
                        <label class="control-label">Notes</label>
                        <textarea class="field form-control"  placeholder="" ></textarea>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <!-- end Resources -->
          </div>
        </div>

      </div>
      <div class="modal-footer hide" id="service-footer">
        <div class="pull-left">
          <a class="btn btn-default" data-dismiss="modal"><i class="fa fa-trash-o"></i>
            Abandon
          </a>
        </div>
        <div class="pull-right">
          <button type="button"
                  class="btn btn-add"
                  data-dismiss="modal"
                  onclick="$('#service1').removeClass('hide'),
                           $('#service-list').removeClass('hide'),
                           $('#jumbo').addClass('hide'),
                           setTimeout(function(){ $('#alert').hide(); }, 10000);">
                          Create Service
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
