<div class="modal fade" id="myModalLetting-doc" tabindex="-1" role="dialog" aria-labelledby="myModalLetting-doc">
  <div class="modal-dialog" role="document" id="modal-size-letting">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">Document</div>
          <span class="">details</span>
        </div>

        <div class="section-label">Attached to:</div>
        <div class="panel-fixed-height-md">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Lettings</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!--<td>check</td>-->
                <td class="id">L001</td>
                <td><a>Sit on Lawn Mower</a></td>
                <!--<td><a class="btn btn-default">Attach</a></td>-->
              </tr>
              <tr>
                <!--<td>check</td>-->
                <td class="id">L002</td>
                <td><a>Floor Polisher</a></td>
              </tr>
              <tr>
                <!--<td>check</td>-->
                <td class="id">L003</td>
                <td><a>20 x Computer Chairs</a></td>
              </tr>
              <tr>
                <!--<td>check</td>-->
                <td class="id">L004</td>
                <td><a>10 x Tables</a></td>
              </tr>
              <tr>
                <!--<td>check</td>-->
                <td class="id">L005</td>
                <td><a>Music Studio</a></td>
              </tr>
              <tr>
                <!--<td>check</td>-->
                <td class="id">L006</td>
                <td><a>Jetwash Powerwash</a></td>
              </tr>
              <tr>
                <!--<td>check</td>-->
                <td class="id">L007</td>
                <td><a>Drama Studio</a></td>
              </tr>
              <tr>
                <!--<td>check</td>-->
                <td class="id">L008</td>
                <td><a>Classroom E3</a></td>
              </tr>
              <tr>
                <!--<td>check</td>-->
                <td class="id">L009</td>
                <td><a>Classroom E4</a></td>
              </tr>
              <tr>
                <!--<td>check</td>-->
                <td class="id">L010</td>
                <td><a>Small Hall</a></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <a class="btn btn-edit"><i class="fa fa-pencil"></i> Edit</a>
        </div>
        <div class="pull-right">
          <a class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
