
<div class="modal fade" id="myModalTeam" tabindex="-1" role="dialog" aria-labelledby="myModalLabelTeam">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <h2 class="text-center"></h2>


        <div class="body-title">
          <div class="title">Get your team involved!
            <span class="block">Share project with others!</span>
          </div>
          <div class="row actions-row">
            <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
              <div class="search">
                <input type="text" class="form-control" placeholder="Search">
                <i class="glyphicon glyphicon-search"></i>
              </div>
            </div>
          </div>
        </div>



        <table class="table">
          <thead></thead>
          <tbody>
            <tr>
              <td class="name">
                <!--<span class="initials pupil">AH</span>-->
                Adam Hogg
                <small class="block">adam.hogg@mypebble.co.uk</small>
              </td>
              <td class="action">
                <a class="btn btn-default btn-block disabled">
                  Invited
                </a>
              </td>
            </tr>
            <tr>
              <td class="name">
                <!--<span class="initials pupil">AH</span>-->
                Alan Waggott
                <small class="block">alan.waggott@mypebble.co.uk</small>
              </td>
              <td class="action">
                <a class="btn btn-info btn-block">
                  Invite
                </a>
              </td>
            </tr>
            <tr>
              <td class="name">
                <!--<span class="initials pupil">AH</span>-->
                Daniel Wakenshaw
                <small class="block">dan.wakenshaw@mypebble.co.uk</small>
              </td>
              <td class="action">
                <a class="btn btn-info btn-block">
                  Invite
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer modal-footer-gray">
        <div class="row">
          <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
            <div class="body-title">
              <div class="title">Invite
                <span class="block">Invite others to help!</span>
              </div>
            </div>
            <div class="search">
              <input type="text" class="form-control" placeholder="Invite">
              <i class="glyphicon glyphicon-envelope"></i>
            </div>
            <div class="actions-row">
              <a href="" class="btn btn-info col-lg-4">Invite</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
