<div class="modal fade" id="myModalRefund" tabindex="-1" role="dialog" aria-labelledby="myModalLabelRefund">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>


      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">Repayment Received</div>
          <span>Message here</span>
            <!--<span class="label label-info">Gift Aid Claim - 001</span>-->
        </div>

        <div class="row">
          <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
            <p>Lets record how much you received from HMRC.</p>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label class="control-label" for="">Repayment Amount</label>
                  <input class="form-control input-amount" placeholder="0.00" type="text">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label for="dtp_input2" class="control-label">Date</label>
                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input class="form-control" size="16" value="" placeholder="Date" type="text">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                  </div>
                </div>
            </div>


          </div>
        </div>

  <!--
          <div class="row">
            <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
              <div class="form-group">
                <input class="form-control input-amount" placeholder="£0.00" type="text">
              </div>
            </div>
          </div>
-->


      </div>

      <div class="modal-footer">
        <div class="pull-left">
          <a href="" class="btn btn-default"><i class="fa fa-trash-o"></i> Abandon</a>
        </div>
        <div class="pull-right">
          <a href="" class="btn btn-primary">
            Save Repayment Amount
          </a>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>
