

<div class="modal fade" id="myModalUser-New" tabindex="-1" role="dialog" aria-labelledby="myModalLabelUser-New">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">Create User
          </div>
          <span class="block">Create a new User</span>
        </div>

        <div class="row" id="">
          <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="">Name
                  </label>
                  <input class="form-control" placeholder="Name" type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="">Email Address
                  </label>
                  <input class="form-control" placeholder="Email Address" type="text">
                </div>
              </div>
            </div>

          <!--
            <div class="row">
              <div class="col-md-12">
                <label class="control-label" for="">Permissions</label>
                <ul class="list-unstyled list-profile-settings">
                  <li>
                    <div class="title">Read Only
                      <small class="block">This user will not be able to record any data into the system</small>
                    </div>
                    <div class="action"><input type="checkbox" name="my-checkbox" data-size="mini" checked></div>
                  </li>
                  <li>
                    <div class="title">Donations
                      <small class="block">This user will be able to view donations</small>
                    </div>
                    <div class="action"><input type="checkbox" name="my-checkbox" data-size="mini" checked></div>
                  </li>
                </ul>
              </div>
            </div>
          -->

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <a class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-trash"></i> Abandon
          </a>
        </div>
        <div class="pull-right">
          <a class="btn btn-add">
            Create User
          </a>
        </div>
      </div>
          </div>
        </div>

    </div>

  </div>
</div>
