
<!-- Modal -->
<div class="modal fade" id="myModalName" tabindex="-1" role="dialog" aria-labelledby="myModalNameLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalNameLabel">
        </h4>
      </div>


      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <!--<img src="/img/grants-icons/icon-awards.png">-->
          <span class="initials pupil">AH</span>
          <div class="title">Adam Hogg
            <span class="block">Pupil</span>
          </div>
        </div>

        <ul class="row list-unstyled list-inline list-facts-three">
          <li class="col-lg-4 col-md-4 col-sm-4">
            <i class="fa fa-trophy block"></i>
            £1,000
            <small>Award</small>
          </li>
          <li class="col-lg-4 col-md-4 col-sm-4 rating">
            <i class="fa fa-bolt block"></i>
            Basic
            <small>2 days</small>
          </li>
          <li class="col-lg-4 col-md-4 col-sm-4">
            <i class="fa fa-clock-o block"></i>
            No Deadline
            <small class="block">N/a</small>
          </li>
        </ul>


        <div class="row">
          <div class="col-lg-6 col-md-6">
            <ul class="list-unstyled list-stats">
              <li>
                Mobile
                <span><i class="fa fa-check-circle text-success"></i> 07756060483</span>
              </li>
              <li>
                Telephone
                <span>01221667934</span>
              </li>
              <li>
                Email
                <span>adam.hogg.ah@gmail.com</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6">
            <ul class="list-unstyled list-stats">
              <li>
                  <i class="glyphicon glyphicon-gift"></i> Gift Aid Eligible
                  <span>
                    <a href="">
                      <i class="fa fa-check-circle-o text-success"></i>
                    </a>
                  </span>
              </li>
              <li>
                <i class="fa fa-user-plus"></i> Volunteer Status
                <span>
                  <a href="">
                    <i class="fa fa-check-circle-o text-success"></i>
                  </a>
                </span>
              </li>
            </ul>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <a href="" class="btn btn-primary">Select</a>
        </div>
        <div class="pull-right">
          <a href="/stakeholder/adam-hogg/" class="btn btn-default">
            View Profile
          </a>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>
