
<!-- Modal -->
<div class="modal fade" id="SRM-project" tabindex="-1" role="dialog" aria-labelledby="SRM-project">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
        </h4>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">Select a Project</div>
          <span class="block"></span>
        </div>

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group btn-block">
              <select class="selectpicker form-control" data-style="btn btn-default">
                <option>Available Projects</option>
                <option>The Exploration Deck</option>
                <option>Tennis Courts</option>
              </select>
              <!--<span class="notification">&nbsp;</span>-->
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <a class="btn btn-default" data-dismiss="modal">
            Cancel
          </a>
        </div>
        <div class="pull-right">
          <a class="btn btn-primary" href="/stakeholders/new/1/">
            Next
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
