<div class="modal fade" id="myModalProject-Template" tabindex="-1" role="dialog" aria-labelledby="myModalProject-Template">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Upgrade
        </h4>
      </div>
      <div class="modal-body">
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. </p>
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        </p>
        <div class="actions-row">
          <a href="" class="btn btn-add">
            Upgrade Account
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
