<div class="modal fade" id="myModalService-details-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabelService-details">
  <div class="modal-dialog modal-lg" role="document" id="modal-size-letting">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <i class="fa fa-magic fa-xl"></i>
          <div class="title">100 x School Dinners</div>
          <span>S001</span>
        </div>
        <ul class="list-unstyled list-inline list-status text-center">
          <li data-original-title="restriction" class="age-restriction" data-toggle="tooltip" data-placement="top" title="">
            <i class="fa fa-ban"></i>
          </li>
          <li data-original-title="terms required" class="terms active" data-toggle="tooltip" data-placement="top" title="">
            <i class="fa fa-pencil-square-o"></i>
          </li>
        </ul>

        <hr/>

        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <label class="control-label">Details</label>
              <div class="text-collapse">
              <p>The Funding School's latest development to install a brand new state of the art kitchen facility that is capable of producing 200 meals in 30 minutes is now explanding to cater for local schools and organisation during quiet periods.</p>
              <p>The Team will be able to produce up to 100 additional school dinners before 11:30am - 12:00am, ideal for any local school wishes the save on external catering providers. Delivery is also included within the price of up to 5 mile radious, all sites more than this will encur an additional charge of 70p per mile. </p>
              <p>Full menu of meal options can be can be found in the school reception.</p>
            </div>
          </div>
          <div class="col-md-5">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Cost Type</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr class="hire-detail active">
                  <td>
                    Service Cost
                  </td>
                  <td>&pound;60.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>



        <hr/>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <label class="control-label">Terms and Conditions</label>
            <div class="text-collapse">
               <p>In order to aquire this facility you must sign our terms and conditions document. This is in conjunction with our school partnership policy which allows us to subsidize this service for local schools and organisations.</p>
            </div>
          </div>
        </div>

        <hr/>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <label class="control-label">Booking Details</label>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="">Name
                  </label>
                  <input class="form-control" placeholder="Name" type="text" value="Office" disabled="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Telephone Number</label>
                  <input class="form-control" placeholder="Telephone Number" type="text" disabled="" value="08453101788">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Email Address</label>
                  <input class="form-control" placeholder="Email Address" type="text" disabled="" value="info@fundraisingschool.org.uk">
                </div>
              </div>
            </div>


            <!--<div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="panel">
                  <div class="panel-title">Share</div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">Name</label>
                          <input class="form-control" placeholder="Name" type="text">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">Email Address</label>
                          <input class="form-control" placeholder="Emaill Address" type="email">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <div class="pull-right">
                      <a class="btn btn-primary">Share</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->

          </div>
        </div>


      </div>



      <div class="modal-footer">
        <div class="pull-left">
          <a class="btn btn-edit" data-dismiss="modal"><i class="fa fa-pencil"></i>
            Edit
          </a>
        </div>
        <div class="pull-right">
          <ul class="list-unstyled list-inline">
            <li>
              <a class="btn btn-default"><i class="fa fa-print"></i> Print</a>
            </li>
            <!--<li>
              <a class="btn btn-default"><i class="fa fa-share-alt"></i> Share</a>
            </li>-->
            <li>
              <a class="btn btn-default" data-dismiss="modal">Close</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
