

<div class="modal fade" id="myModalSRM-campaign-ga" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSRM-campaign-ga">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">Campaign Details</div>
          <span></span>
        </div>

        <div class="jumbotron">
            <div class="flex-center-row">
              <div class="col-lg-10 col-md-10">
                <h3>#001 - Gift Aid Eligible Stakeholders</h3>
                <p>
                  Collect all avaiable Gift Aid Declaration forms from your stakeholders to allow you to claim an additional 2% on all Gift Aid Eligible Transactions and Donations.
                </p>
              </div>
            </div>
          </div>


        <div class="panel-title">Step 1 - Download our Gift Aid template
        </div>
        <div class="panel-body">
          <p>
            Download our sample Gift Aid Declaration form
          </p>
          <div class="actions-row">
            <a class="btn btn-info"><i class="fa fa-download"></i> Download Template</a>
          </div>
         </div>

         <div class="panel-title">Step 2 - Download your stakeholders list
         </div>
         <div class="panel-body">
           <p>
             These are all your contacts who have not completed and returned the Gift Aid declaration form.
           </p>
           <div class="actions-row">
             <a class="btn btn-info"><i class="fa fa-download"></i> Download Stakeholder List</a>
           </div>
          </div>

          <div class="panel-title">Step 3 - Send Letter
          </div>
          <div class="panel-body">
            <p>
              Send these letters to your stakeholders and wait for them to complete the Gift Aid Declaration form!
            </p>

           </div>


<!--
        <div class="flex-center-row">
            <div class="col-md-10">
              <div class="panel" id="campaign-details">
                <div class="panel-title">Gift Aid Eligible Stakeholders <span class="label label-success">New</span></div>
                <div class="panel-body">
                  <p>
                    Collect all avaiable Gift Aid Declaration forms from your stakeholders to allow you to claim an additional 2% on all Gift Aid Eligible Transactions and Donations.
                  </p>
                </div>
                <div class="panel-title">Benefits</div>
                <div class="panel-body">
                  <ol>
                    <li>Allow you to claim an additional 2% per donation from HMRC</li>
                    <li>Claim up to 3 years historical claims</li>
                  </ol>
                </div>
                <div class="panel-footer">
                  <div class="actions-row actions-row-clear">
                    <a class="btn btn-primary" onclick="$('#campaign-details').addClass('hide'), $('').removeClass('')">Run Campaign</a>
                  </div>
                </div>
              </div>
            </div>
        </div>

      -->



      <!--  <div class="jumbotron">
          <div class="flex-center-row">
            <div class="col-lg-10 col-md-10">




            </div>
          </div>
        </div>-->
      </div>

      <div class="modal-footer">
        <div class="pull-left">
          <a  data-dismiss="modal" aria-label="Close" class="btn btn-default">Close</a>
        </div>
        <div class="pull-right">
          <a data-dismiss="modal" aria-label="Close" class="btn btn-primary"> Complete
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
