<div class="modal fade" id="myProjectLibrary-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabelGrants-lg">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>



      <div class="modal-body modal-body-clear">

        <div class="body-title">
          <!--<img src="/img/grants-icons/icon-cash.png">-->
          <div class="title">The Exploration Deck
          </div>
          <span class="block">Outdoor Learning</span>
        </div>

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <ul class="row list-unstyled list-inline list-facts-three">
              <li class="col-lg-4 col-md-4 col-sm-4">
                <i class="fa fa-gbp"></i><i class="fa fa-gbp"></i><i class="fa fa-gbp"></i>
                <small>Cost</small>
              </li>
              <li class="col-lg-4 col-md-4 col-sm-4 rating">
                High
                <small>Implact</small>
              </li>
              <li class="col-lg-4 col-md-4 col-sm-4">
                <i class="fa fa-clock-o"></i>
                <small class="block">Timescale</small>
              </li>
            </ul>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-10 col-sm-offset-1">
            <h3>Description</h3>
              <p>
                Our project will increase pupil access to extra curricular opportunities and trips outside of school. This will improve their learning outcomes, develop their independence, knowledge of the local community as well as their academic achievement. To achieve this we are looking at providing them with transport so they can visit many different areas and experience all walks of life.
               </p>

               <h3>Why Do You Need Your Project?</h3>
              <p>
                Our school has a roll of 700 pupils and is situated in a low socio-economic area with 75 % of our pupils entitled to free school meals. As the majority of our pupils come from low income families, parents are unable to pay for transport for educational trips. As a result of this, pupil access to transport and to learning opportunities outside of school is limited.
              </p>
              <p>Learning outside of the school environment and experiencing hands-on learning is proven to help pupils engage with their curriculum and raise their attainment levels.
              </p>
              <p>
                We would like to offer day trips to educational institutions in order to enrich the learning experience of our pupils to further raise their engagement and attainment levels. An onsite minibus would facilitate that.               </p>
            <h3>What Impact Will Your Project Have?</h3>
              <p class="text-left">
                Our project will increase pupil access to extra curricular opportunities and trips outside of school. This will improve their learning outcomes, develop their independence, knowledge of the local community as well as their academic achievement. To achieve this we are looking at providing them with transport so they can visit many different areas and experience all walks of life.
               </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <div class="form-group">
              <label class="control-label" for="">Enter your target amount</label>
              <input class="form-control input-amount" placeholder="5,000.00" type="text">
            </div>
          </div>
        </div>
        <div>

        <div class="actions-row center">
          <a class="btn btn-add" href="/onboarding/01/">Choose this Template</a>
          <span class="block m-t-sm text-muted text-sm">(You can customise this project later)</span>
        </div>
      </div>


    <div class="modal-footer hide">
        <ul class="row list-unstyled list-inline list-facts-three">
          <li class="col-lg-4 col-md-4 col-sm-4">
            <a class="btn btn-block btn-modal-option text-danger">
              <i class="fa fa-times"></i> <span class="block">CLOSE</span>
            </a>
          </li>
          <li class="col-lg-4 col-md-4 col-sm-4 rating">
            <a class="btn btn-block  btn-modal-option text-favourite">
              <i class="fa fa-star-o"></i>
              <span class="block">ADD TO STARRED</span>
            </a>
          </li>
          <li class="col-lg-4 col-md-4 col-sm-4">
            <a class="btn btn-block  btn-modal-option text-success" onclick="$('#save-grant').toggleClass('hide')">
              <i class="fa fa-plus"></i> <span class="block">Add TO PROJECT</span>
            </a>
          </li>
        </ul>

        <div id="save-grant" class="modal-footer-save-to hide">
          <hr>

          <div class="body-title m-t-md"><div class="title">Add to Project</div>
          <span class="block">
          <p>Which Project(s) would you like this grant to be saved to?</p>
        </span>
      </div>
          <table class="table table-vam table-hover table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Active Projects <span>(2)</span></th>
                <th class="value-progress">Funding Target</th>
              </tr>
            </thead>
            <tbody>
              <tr class="selected">
                <td class="check">
                  <div class="form-group">
                    <div class="checkbox checkbox-primary">
                      <input id="checkbox1" value="option1" checked="" type="checkbox">
                      <label for="checkbox1"></label>
                    </div>
                  </div>
                </td>
                <td class="title">
                    <span class="initials icon-project">SF</span>
                    Sports Field
                </td>
                <td class="value-progress">
                  <span>£100.00</span> / £5,000.00
                </td>
              </tr>
              <tr>
                <td class="check">
                  <div class="form-group">
                    <div class="checkbox checkbox-primary">
                      <input id="checkbox1" value="option1" type="checkbox">
                      <label for="checkbox1"></label>
                    </div>
                  </div>
                </td>
                <td class="title ">
                    <span class="initials icon-project">TP</span>
                    Tennis Pitch
                </td>
                <td class="value-progress">
                  <span>£100.00</span> / £5,000.00
                </td>
              </tr>
            </tbody>
          </table>

          <a class="btn btn-add m-t-md">
            Add to Project(s)
          </a>
        </div>


      </div>



      </div>


    </div>
  </div>
</div>
