<!-- Modal -->
<div class="modal fade" id="myModal-donation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body modal-body-clear">

        <ul class="list-unstyled">
          <li>05/05/2015</li>
          <li>R001</li>
          <li>Adam Hogg</li>
          <li>This is a voluntary donation</li>
          <li>£10.00</li>
          <li>Cash</li>
          <li>Eligible</li>
        </ul>

      <!--
        <h3>
          Total
            &pound;10.00 <small>Cash</small>
        </h3>
      -->

        <div class="body-title">
          <i class="fa fa-money text-info"></i>
          <div class="title">#001</div>
          <span class="block">05/05/2015</span>
        </div>
        <div class="text-center">
          <h2>Adam Hogg</h2>
          <p>
            This is a voluntary donation
          </p>
        </div>

        <div class="body-title">
          <div class="title">
            &pound;10.00 <i class=""></i>
            <span class="block">Cash</span>
          </div>
          <span class="text-donations">(Gift Aid Eligible)</span>


        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <a class="btn btn-edit">
            <i class="fa fa-pencil"></i> Edit
          </a>
          <a class="btn btn-danger">
            <i class="fa fa-close"></i> Delete
          </a>
        </div>
        <div class="pull-right">
          <a href="" class="btn btn-default">
            Close
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
