<div class="modal fade" id="myModalHMRC-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabelHMRC-data">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">
            Gift Aid Report #001
          </div>
          <span>Preview</span>
        </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="panel ">
                <div class="panel-title">
                    10 Donors
                  <div class="pull-right">
                    Potential Repayment: &pound;250.00
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table table-preview">
                    <thead>
                      <tr>
                        <th class="name">Name
                        </th>
                        <th>Address</th>
                        <th class="date">Date
                        </th>
                        <th class="amount">
                          Amount
                        </th>
                        <th class="amount">
                          Gift Aid
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="name">
                          Mr John Smith
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>212 Clifton Road</li>
                            <li>DL15EA</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £40.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mr John Smith
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>212 Clifton Road</li>
                            <li>DL15EA</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £40.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mr John Smith
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>212 Clifton Road</li>
                            <li>DL15EA</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £40.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mr John Smith
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>212 Clifton Road</li>
                            <li>DL15EA</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £40.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mr John Smith
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>212 Clifton Road</li>
                            <li>DL15EA</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £40.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mr John Smith
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>212 Clifton Road</li>
                            <li>DL15EA</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £40.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mr John Smith
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>212 Clifton Road</li>
                            <li>DL15EA</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £40.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mr John Smith
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>212 Clifton Road</li>
                            <li>DL15EA</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £40.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mr John Smith
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>212 Clifton Road</li>
                            <li>DL15EA</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £40.00
                        </td>
                      </tr>
                      <tr>
                        <td class="name">
                          Mr John Smith
                        </td>
                        <td class="address">
                          <ul class="list-unstyled list-address">
                            <li>212 Clifton Road</li>
                            <li>DL15EA</li>
                          </ul>
                        </td>
                        <td class="date">
                          22/04/2015
                        </td>
                        <td class="amount income">
                          £100.00
                        </td>
                        <td class="amount gift-aid total-claim">

                          £40.00
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
          <div class="modal-footer">
            <div class="pull-left">
              <a  data-dismiss="modal" aria-label="Close" class="btn btn-default"> Close</a>
            </div>
            <div class="pull-right">
              <a href="" class="btn btn-info">
                <i class="fa fa-download"></i>
                Download CSV
              </a>
            </div>
          </div>


    </div>
  </div>
</div>
