

<div class="modal fade" id="myModalSRM-campaign-locked" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSRM-campaign-locked">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <span class="initials icon-donations">
            <i class="fa fa-lock"></i>
          </span>
          <div class="title">#004 - Donate &pound;10 to help your school</div>

          <div class="flex-center-row m-b-lg">
            <div class="col-md-10">
              <p>Ask your parents to donate just £10 a year towards the runing of your club.</p>

            </div>
          </div>
          <div class="alert alert-info">
            <p><strong>Important</strong> This campaign is currently not available with your subscription package.</p>
          </div>
        </div>



      </div>

      <div class="modal-footer">
        <div class="pull-left">
          <a  data-dismiss="modal" aria-label="Close" class="btn btn-default">Close</a>
        </div>
        <div class="pull-right">
          <a class="btn btn-info">Learn More</a>
        </div>
        <!--<div class="pull-right">
          <a data-dismiss="modal" aria-label="Close" class="btn btn-primary"> Complete Campaign
          </a>
        </div>-->
      </div>
    </div>

  </div>
</div>
