

<div class="modal fade" id="myModalSRM-campaign-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSRM-campaign-info">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <span class="initials campaign">
            <i class="fa fa-paper-plane"></i>
          </span>
          <div class="title">#002 - Improve Stakeholder Engagement</div>

          <div class="flex-center-row">
            <div class="col-md-10">
              <p>
                Improve and gather more information about your stakeholders.
              </p>
            </div>
          </div>

        </div>


          <div class="panel">
            <div class="panel-body">
              <div class="checkbox checkbox-info">
                <input id="checkbox1" value="option1" type="checkbox">
                <label for="checkbox1">Important - Message
                  <span>Message about us representing them to send out marketing message etc.</span>
                </label>
              </div>
            </div>
          </div>


      </div>

      <div class="modal-footer">
        <div class="pull-left">
          <a  data-dismiss="modal" aria-label="Close" class="btn btn-default">Close</a>
        </div>
        <div class="pull-right">
          <a class="btn btn-primary" onclick="$('#myModalSRM-campaign-info').modal('hide'), $('#campaign').addClass('hide'), $('#campaign-wip').removeClass('hide')"><i class="fa fa-paper-plane"></i> Run Campaign</a>
        </div>
        <!--<div class="pull-right">
          <a data-dismiss="modal" aria-label="Close" class="btn btn-primary"> Complete Campaign
          </a>
        </div>-->
      </div>
    </div>

  </div>
</div>
