<div class="modal fade" id="myModalDone" tabindex="-1" role="dialog" aria-labelledby="myModalDone">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <i class="fa fa-check-circle-o fa-xl text-success"></i>
          <div class="title">Congradulations!
            <span class="block">Action Completed</span>
          </div>
        </div>
        <div class="actions-row">
          <a class="btn btn-default" data-dismiss="modal">
            Close Window
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
