
<div class="modal fade" id="myModalTeam" tabindex="-1" role="dialog" aria-labelledby="myModalLabelTeam">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">Share with Colleague
            <span class="block">Share project with others!</span>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label class="control-label" for="">Name</label>
                <input class="form-control" placeholder="Enter Name" type="text">
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label class="control-label" for="">Email Address</label>
                <input class="form-control" placeholder="Email Address" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="pull-right">
                <a class="btn btn-info">Add Contact</a>
              </div>
            </div>
          </div>


              <table class="table m-t-md">
                <tbody>
                  <tr>
                    <td class="name">
                      Adam Hogg
                      <small class="block">adam.hogg@mypebble.co.uk</small>
                    </td>
                    <td class="action">
                      <a class="text-danger">
                        <i class="fa fa-times"></i> Remove
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="form-group m-t-md">
                <label for="id_description" class="control-label">
                  Message
                  {% include input-tips.html %}
                </label>
                <textarea class="field form-control" placeholder="" id="id_description"></textarea>
                <div class="error"></div>
              </div>

            </div>
            </div>
            <div class="modal-footer">
              <div class="pull-left">
                <a class="btn btn-default"><i class="fa fa-trash-o"></i> Abandon</a>
              </div>
              <div class="pull-right">
                <a class="btn btn-primary">
                  <i class="fa fa-paper-plane-o"></i>
                  Share Project
                </a>
              </div>
            </div>
          </div>
        </div>
        <!---->
      </div>
    </div>
  </div>
