<div class="modal fade" id="myModalLetting-room" tabindex="-1" role="dialog" aria-labelledby="myModalLabelLetting-room">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">
            <!--<span class="initials icon-donations">
              <i class="fa fa-file"></i>
            </span>-->
            Room ID 01
          </div>
        </div>


        <div class="panel" id="room-edit">
          <div class="panel-title">Room <span class="text-muted">#01</span></div>
          <div class="panel-body">

            <div class="row">
              <div class="col-lg-8 col-md-8">
                <div class="form-group">
                  <label class="control-label">Room Name</label>
                  <input class="form-control" value="" type="text" placeholder="Room Name">
                </div>
                <div class="form-group">
                  <label class="control-label">Description</label>
                  <textarea class="field form-control"  placeholder="" id="id_project_need"></textarea>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="control-label">Room Width <span>(m)</span></label>
                  <input class="form-control" value="" type="text" placeholder="0">
                </div>
                <div class="form-group">
                  <label class="control-label">Room Length <span>(m)</span></label>
                  <input class="form-control" value="" type="text" placeholder="0">
                </div>
                <div class="form-group">
                  <label class="control-label">Max Capacity</label>
                  <input class="form-control" value="" type="number" placeholder="0">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-8 col-md-8">
                <div class="control-label-lg">Features</div>
                <ul class="list-unstyled list-services row">
                  <div class="col-lg-6 col-md-6">
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">Disabled Access</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">Onsite Parking</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">Premium Wifi</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">Free Wifi</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">Air Conditioning</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">Storage Room</label>
                      </div>
                    </li>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">Flipchart</label>
                      </div>
                    </li>

                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">Furnishing included in price</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">HDMI connection</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">Projector and AV system</label>
                      </div>
                    </li>
                    <li>
                      <div class="checkbox checkbox-primary">
                        <input id="checkbox1" value="" type="checkbox">
                        <label for="checkbox2">Add More</label>
                      </div>

                    </li>
                  </div>
                  </ul>
                </div>
              <div class="col-lg-4 col-md-4">
                <div class="control-label-lg">Licences</div>
                <ul class="list-unstyled list-services">
                  <li>
                    <div class="checkbox checkbox-primary">
                      <input id="checkbox1" value="" type="checkbox">
                      <label for="checkbox2">Alochol Licence</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox checkbox-primary">
                      <input id="checkbox1" value="" type="checkbox">
                      <label for="checkbox2">Entertainment Licence</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox checkbox-primary">
                      <input id="checkbox1" value="" type="checkbox">
                      <label for="checkbox2">Catering Lincence</label>
                    </div>
                  </li>
                  <li>
                    <div class="checkbox checkbox-primary">
                      <input id="checkbox1" value="" type="checkbox">
                      <label for="checkbox2">Other Licence</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="section-title">Images
                  <p>Help sell your room with a photograph</p>
                </div>
                <!--<ul class="list-unstyled list-inline list-images">
                  <li>
                    <img src="/img/rooms/meeting-test.jpg" class="">
                  </li>
                  <li class="upload">
                  </li>
                </ul>-->

                <div class="form-group">
                  <input type="file" name="file-2[]" id="file-2" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" multiple />
                  <label for="file-2">
                    <span>Choose file&hellip;</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="section-title">Cost
                  <p>Help calculate cost of the room hire</p>
                </div>
                <table class="table table-form table-bordered">
                  <thead>
                    <tr>
                      <th>Room Expenses</th>
                      <th>Hire Cost</th>
                      <th>Hire Period</th>
                      <th>Room Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="amount">
                        <div class="form-group">
                          <input class="form-control input-amount" value="0.00" type="text">
                        </div>
                      </td>
                      <td class="amount">
                        <div class="form-group">
                          <input class="form-control input-amount" value="0.00" type="text">
                        </div>
                      </td>
                      <td class="hire">
                        <div class="form-group btn-block">
                          <select class="selectpicker form-control" data-style="btn btn-default">
                            <option>Per Hour</option>
                            <option>Per Peak Day</option>
                            <option>Per Off-Peak Day</option>
                            <option>Per Week</option>
                            <option>Other</option>
                          </select>
                        </div>
                      </td>
                      <td class="hire-total">
                        <div class="form-group has-success">
                          <div class="input-group">
                            <input type="text" class="form-control input-amount" placeholder="0.00" aria-describedby="basic-addon2">
                            <span class="input-group-addon input-addon-result" id="basic-addon2">10% Profit</span>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <div class="pull-left">
              <a class="btn btn-default"><i class="fa fa-trash-o"></i> Abandon</a>
            </div>
            <div class="pull-right">
              <a class="btn btn-primary">Save</a>
            </div>
          </div>
        </div>



      </div>
</div>
</div>
</div>
