<div class="modal fade" id="myModalLetting-details-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabelLetting-details">
  <div class="modal-dialog modal-lg" role="document" id="modal-size-letting">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <i class="fa fa-cubes fa-xl"></i>
          <div class="title">Sit on Lawn Mower</div>
          <span>L001</span>
        </div>
        <ul class="list-unstyled list-inline list-status text-center">
          <li data-original-title="3 photos" class="photo active" data-toggle="tooltip" data-placement="top" title="">
            <i class="fa fa-picture-o"></i>
          </li>
          <li data-original-title="restriction" class="age-restriction active" data-toggle="tooltip" data-placement="top" title="">
            <i class="fa fa-ban"></i>
          </li>
          <li data-original-title="terms required" class="terms active" data-toggle="tooltip" data-placement="top" title="">
            <i class="fa fa-pencil-square-o"></i>
          </li>
        </ul>

        <hr/>

        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <label class="control-label">Details</label>
              <div class="text-collapse">
              <p>The Lawnflite 60RDE offers the perfect compromise between a less productive walk-behind mower and an overly bulky lawn-tractor, so it will cover a larger lawn efficiently, whilst giving you none of the manoeuvrability or storage problems often encountered with more substantial machines.</p>
              <p>Power from its premium-grade single-cylinder Briggs &amp; Stratton four-stroke engine is sent to the drive-wheels via a six-speed Transmatic Shift-on-the-Go transmission, which makes adjusting the ground-speed more intuitive and less time-consuming than with a standard manual drive. The drive wheels are larger than the front wheels for easier turning and improved traction on damp grass.</p>
              <p>Thanks to its three-in-one design, whereby you can choose between bagging; direct discharge; and mulching; the Lawnflite Mini Rider 60RDE Ride-On Mower is capable of achieving superb results on any grass-type, from a neat, manicured lawn, through to a less well maintained informal area (the mulch-kit and rear deflector are optional)</p>
              <p>A five-step height-of-cut, adjustable from 38 to 95mm, allows you to adapt to changing weather- and grass-conditions; while a high-capacity 150-litre grass-collector means more time can be spent actually mowing with less time wasted at the compost-pile.</p>
              <p>With a cutting-width of just 60cm and an ultra-tight 46cm turning-circle, the Lawnflite Mini Rider 60RDE will take awkward corners and closely spaced obstacles in its stride.</p>
              <p>It has an adjustable seat, so you can sit in a position that’s most comfortable for your stature; and it features Lawnflite’s practical step-through frame that means even the less nimble of us will find it easy and safe to get on and off.</p>
            </div>
          </div>
          <div class="col-md-5">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Time Available</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr class="hire-detail active">
                  <td>
                    <strong>Peak</strong>
                    <span>08:00 to 16:00</span>
                  </td>
                  <td>&pound;5.00 p/h</td>
                </tr>
                <tr class="hire-detail">
                  <td>
                    <strong>Offpeak</strong>
                    <span>16 :00 to 19:00</span>
                  </td>
                  <td>&pound;6.00 p/h</td>
                </tr>
                <tr class="hire-detail">
                  <td>
                    <strong>Weekends</strong>
                    <span>Sat - Sun (Return Monday)</span>
                  </td>
                  <td>Not Available</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <label class="control-label">Images</label>
            <ul class="list-unstyled list-inline list-gallery">
              <li>
                <img src="/img/letting/equipment/lawn-mower-1.jpg">
              </li>
            </ul>
          </div>
        </div>

        <hr/>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <label class="control-label">Restrictions</label>
             <p>You must be over the age of 18 to hire this equipment</p>
            <label class="control-label">Terms and Conditions</label>
            <div class="text-collapse">
               <p>In order to hire this equipment you must sign our terms and conditions document. This is in conjunction with our hire policy on all items that are taken out of the school grounds.</p>
               <p>By signing this declaration you agree to the following;</p>
               <ol>
                 <li>Return the item in the condition it was given to you</li>
                 <li>You will take full responsibility for the item during this hire period and will pay for any damages/loss</li>
               </ol>
            </div>
          </div>
        </div>

        <hr/>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <label class="control-label">Booking Details</label>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="">Name
                  </label>
                  <input class="form-control" placeholder="Name" type="text" value="Office" disabled="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Telephone Number</label>
                  <input class="form-control" placeholder="Telephone Number" type="text" disabled="" value="08453101788">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Email Address</label>
                  <input class="form-control" placeholder="Email Address" type="text" disabled="" value="info@fundraisingschool.org.uk">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <a class="btn btn-edit" data-dismiss="modal"><i class="fa fa-pencil"></i>
            Edit
          </a>
        </div>
        <div class="pull-right">
          <ul class="list-unstyled list-inline">
            <li>
              <a class="btn btn-default"><i class="fa fa-print"></i> Print</a>
            </li>
            <li>
              <a class="btn btn-default"><i class="fa fa-share-alt"></i> Share</a>
            </li>
            <li>
              <a class="btn btn-default" data-dismiss="modal">Close</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
