
<div class="modal fade" id="myModalLoader" tabindex="-1" role="dialog" aria-labelledby="myModalLoader">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div id="loader">
        <div class="body-title">
          <!--<span class="initials icon-lettings">
            <i class="fa fa-building-o"></i>
          </span>-->
          <div class="loader"></div>
          <div class="title">Building Portfolio</div>
          <span class="block">Building your Lettings Portfolio</span>
        </div>
      </div>

        <div class="row">
          <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 text-center">

            <div class="hide actions-row" id="complete">
              <div class="body-title">
                <div class="fa fa-check-circle-o text-success fa-xl"></div>
                <div class="title text-success">Lettings Ready</div>
                <span>Your portfolio is ready to view</span>
              </div>
              <a class="btn btn-default" href="/lettings/home/">
                View Portfolio
              </a>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!---->
</div>
