
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
          Benefits Calculator
        </h4>
      </div>
      <div class="modal-body">
        <div class="matrix-hook">
          <table class="table">
            <tbody>
              <tr>
                <th>Requested Contribution</th>
                <th>Estimated Paying</th>
                <th>Total</th>
              </tr>
              <tr>
                <td class="proposed_unit_cost-hook"><div class="form-group">

              <input class="field form-control" id="id_unit_cost" placeholder="" value="0.00" name="unit_cost">

              <div class="error"></div>
              </div></td>
                <td class="estimated_paying-hook"><div class="form-group">

              <input class="field form-control" id="id_estimated_paying" placeholder="" value="0" name="estimated_paying" type="text">

              <div class="error"></div>
              </div></td>
                <td class="income total-hook"><div><span class="data">0.00</span>
              <i class="glyphicon glyphicon-arrow-up"></i>
              </div></td>
              </tr>
              <tr>
                <th>Suggested Donation</th>
                <th>Donating</th>
                <th>Donations inc. Gift Aid</th>
              </tr>
              <tr>
                <td class="proposed_donation-hook"><div class="form-group">

              <input class="field form-control" id="id_proposed_donation" placeholder="" value="0.00" name="proposed_donation">

              <div class="error"></div>
              </div></td>
                <td class="estimated_donating-hook"><div class="form-group">

              <input class="field form-control" id="id_estimated_donating" placeholder="" value="0" name="estimated_donating" type="text">

              <div class="error"></div>
              </div></td>
                <td class="gift-aid data total_giftaid-hook"><div><span class="data">0.00</span>
              <i class="glyphicon glyphicon-gift"></i>
              </div></td>
              </tr>
              <tr>
                <th colspan="2">&nbsp;</th>
                <th>Total inc. Gift Aid</th>
              </tr>
              <tr>
                <td colspan="2">&nbsp;</td>
                <td class="gift-aid data total_income-hook"><div><span class="data">0.00</span>
              <i class="glyphicon glyphicon-gift"></i>
              </div></td>
              </tr>
            </tbody>
          </table>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-Primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
