<div class="modal fade" id="myModalGrants-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabelGrants-lg">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>



      <div class="modal-body modal-body-clear">

        <div class="body-title">
          <img src="/img/grants-icons/icon-cash.png">
          <div class="title">Sport England Inspired Facilities
          </div>
        </div>


          <ul class="row list-unstyled list-inline list-facts-three">
            <li class="col-lg-4 col-md-4 col-sm-4">
              <i class="fa fa-trophy block"></i>
              &pound;150,000
              <small>Cash Award</small>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 rating">
              <i class="fa fa-bolt block"></i>
              Complex
              <small>Weeks</small>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4">
              <i class="fa fa-clock-o block"></i>
              35 days
              <small class="block">04/02/2016</small>
            </li>
          </ul>


        <div class="row">
          <div class="col-lg-12 col-md-12">

            <div class="text-summary">
              <p class="text-center">
                Sport England welcomes applications from education establishments, local authorities, sports clubs, and community organisations in England for funding to support community sport facilities. The Inspired Facilities programme will refurbish and upgrade club facilities, and convert existing buildings into venues suitable for community sport
               </p>
            </div>
            <div class="actions-row">
                  <a  id="btn-btn-more-grant-lg" onclick="$('#btn-more-grant-lg').removeClass('hide'), $('#btn-btn-more-grant-lg').addClass('hide')">
                Read More
              </a>
            </div>
            <div class="hide" id="btn-more-grant-lg">
              <div class="panel">
                <div class="panel-title">
                  What is it?
                </div>
                <div class="panel-body">
                  <p>
                    Inspired Facilities is focused on making it easier for local community and volunteer groups to improve and refurbish sports clubs or transform non- sporting venues into modern grassroots sport facilities.
                  </p>
                  <p>
                    Tired, worn out, old facilities make it harder for people to start or keep doing sport. They can also be more expensive to run and difficult to maintain. The Inspired Facilities fund could help you refurbish or upgrade your sports facility; or convert an existing building into a venue suitable for sport and accessible to the whole community.
                  </p>
                  <p>
                    Through Inspired Facilities, Sport England will invest in most types of improvement or refurbishment work that will help you develop sport in your local area.
                  <p>
                  <p>Grants are available from £20,000 to £150,000</p>
                  <p>
                    Your application should show how your project will keep and, ideally, attract more people to sport and that your project is needed and wanted by the local community.
                  </p>
                </div>
                <div class="panel-title">Who is Eligible?</div>
                  <div class="panel-body">
                    <p>
                      Applications can be submitted by organisations entitled to receive public funding, voluntary or community organisations, local authorities, sports clubs, playing field associations and education establishments in England.
                    </p>
                    <p>You are expected to have partnership funding from a non-lottery source. Schools or educational establishments will, however, be expected to provide pound-for-pound partnership funding.</p>
                </div>
                <div class="panel-title">What Will I Get?</div>
                <div class="panel-body">
                  <p>
                    Community and voluntary organisations, including parish and town councils can apply for grants worth between £20,000 and £75,000.  At least 70% of the available funding available is set aside for these groups.
                  </p>
                  <p>
                    Local authorities, statutory bodies and* education establishments can apply for grants between £20,000 and £150,000. *
                  </p>
                </div>
                <div class="panel-title">What Next?</div>
                <div class="panel-body">
                  <p>
                    As a result of feedback from previous applicants, Sport England have changed the application process for Inspired Facilities. It is now an open programme which means that you can submit your application as soon as you are ready rather than having to rush to send it in by a specific date.
                  </p>
                  <p>
                    Decision meetings will then take place twice a year, the next one of these will be in September 2015 when all applications received prior to the 8 June will be assessed. The second will take place in April 2016 for applications received before 2 January. Please note only one application per organisation can be considered at each decision meeting.
                  </p>
                  <p>A mini website is available, full of information to help you with your application.</p>
                  <p>
                    Good luck!
                  </p>
                  <a href="" class="btn btn-info"><i class="fa fa-external-link"></i> Website</a>
                </div>
              </div>
            </div>

          </div>
        </div>


      </div>


    <div class="modal-footer">
        <ul class="row list-unstyled list-inline list-facts-three">
          <li class="col-lg-4 col-md-4 col-sm-4">
            <a class="btn btn-block btn-modal-option text-danger">
              <i class="fa fa-times"></i> <span class="block">CLOSE</span>
            </a>
          </li>
          <li class="col-lg-4 col-md-4 col-sm-4 rating">
            <a class="btn btn-block  btn-modal-option text-favourite">
              <i class="fa fa-star-o"></i>
              <span class="block">ADD TO STARRED</span>
            </a>
          </li>
          <li class="col-lg-4 col-md-4 col-sm-4">
            <a class="btn btn-block  btn-modal-option text-success" onclick="$('#save-grant').toggleClass('hide')">
              <i class="fa fa-plus"></i> <span class="block">Add TO PROJECT</span>
            </a>
          </li>
        </ul>

        <div id="save-grant" class="modal-footer-save-to hide">
          <hr>

          <div class="body-title m-t-md"><div class="title">Add to Project</div>
          <span class="block">
          <p>Which Project(s) would you like this grant to be saved to?</p>
        </span>
      </div>
          <table class="table table-vam table-hover table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Active Projects <span>(2)</span></th>
                <th class="value-progress">Funding Target</th>
              </tr>
            </thead>
            <tbody>
              <tr class="selected">
                <td class="check">
                  <div class="form-group">
                    <div class="checkbox checkbox-primary">
                      <input id="checkbox1" value="option1" checked="" type="checkbox">
                      <label for="checkbox1"></label>
                    </div>
                  </div>
                </td>
                <td class="title">
                    <span class="initials icon-project">NL</span>
                    New Library Resources
                </td>
                <td class="value-progress">
                  <span>£100.00</span> / £5,000.00
                </td>
              </tr>
              <tr>
                <td class="check">
                  <div class="form-group">
                    <div class="checkbox checkbox-primary">
                      <input id="checkbox1" value="option1" type="checkbox">
                      <label for="checkbox1"></label>
                    </div>
                  </div>
                </td>
                <td class="title ">
                    <span class="initials icon-project">TP</span>
                    Tennis Pitch
                </td>
                <td class="value-progress">
                  <span>£100.00</span> / £5,000.00
                </td>
              </tr>
            </tbody>
          </table>

          <a class="btn btn-add m-t-md">
            Add to Project(s)
          </a>
        </div>


      </div>



      </div>


    </div>
  </div>
</div>
