
<div class="modal fade" id="myModalImport" tabindex="-1" role="dialog" aria-labelledby="myModalLabelImport">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-clear">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-clear">
        <div class="body-title">
          <div class="title">Import CSV</div>
          <span class="block">Upload document</span>
        </div>
        <div class="row flex-center-row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label class="control-label" for="">File Location</label>
              <input type="file">
            </div>
            <!--<div class="form-group">
              <label class="control-label" for="">File Name
                {% include input-tips.html %}
              </label>
              <input placeholder="Enter Document" type="text" class="form-control">
            </div>-->
          </div>
        </div>


        </div>
            <div class="modal-footer">
              <div class="pull-left">
                <a class="btn btn-default"><i class="fa fa-trash-o"></i> Abandon</a>
              </div>
              <div class="pull-right">
                <a class="btn btn-info">
                  <i class="fa fa-upload"></i>
                  Upload
                </a>
              </div>
            </div>
          </div>
        </div>
        <!---->
      </div>
    </div>
  </div>
