<nav id="mainnav-container">
  <div id="mainnav">
    <!--Menu-->
    <div id="mainnav-menu-wrap">
      <div class="nano">
        <!--<div class="date">
          01<span class="block">Sep</span>
        </div>-->
        <div class="nano-content">
          <ul id="mainnav-menu" class="list-group">
            <li class=" {% if page.url contains '/dashboard/' %}active-page{% endif %}">
              <a href="/dashboard/">
                <i class="fa fa-tachometer"></i>
                <span class="menu-title">
                  <strong>Dashboard</strong>
                </span>
              </a>
            </li>
            <li class="list-divider"></li>
            <li class="list-header">Activities</li>

            <li class="nav-donations  {% if page.url contains '/donations/' %}active-page{% endif %}"><!-- active-page  -->
              <a>
                <i class="fa fa-gift"></i>
                <span class="menu-title">
                  Donations
                </span>
                <i class="arrow"></i>
              </a>
              <ul class="collapse {% if page.url contains '/donations/' %}in{% endif %}">
                <li class="{% if page.url contains '/donations/home/' %}active{% endif %}">
                  <a href="/donations/home/">
                    Record Donation
                  </a>
                </li>
                <li class="list-divider"></li>
                <!--<li><a href="/donations/claim/" class="{% if page.url contains '/donations/claim/' %}active{% endif %}">Create Claim</a></li>-->
                <li class="{% if page.url contains '/donations/all/' %}active{% endif %}">
                  <a href="/donations/all/">View Donations</a>
                </li>
                <li class="{% if page.url contains '/donations/history/' %}active{% endif %}">
                  <a href="/donations/history/">Gift Aid Claims</a>
                </li>
              </ul>
            </li>
            <li class="nav-clubs  {% if page.url contains '/clubs/' %}active-page{% endif %}">
              <a href="/clubs/home/">
                <i class="fa fa-flag-o"></i>
                <span class="menu-title">
                  Clubs
                </span>
                <i class="arrow"></i>
              </a>

            </li>

            <li class="nav-events  {% if page.url contains '/events/' %}active-page{% endif %}">
              <a href="/events/home">
                <i class="fa fa-calendar-o"></i>
                <span class="menu-title">
                  Events
                </span>
                <i class="arrow"></i>
              </a>
            </li>
            <li class="nav-services {% if page.url contains '/services/' %}active-page{% endif %}">
              <a href="/services/home/">
                <i class="fa fa-magic"></i>
                <span class="menu-title">
                  Services
                </span>
                <i class="arrow"></i>
              </a>
            </li>
            <li class="nav-lettings {% if page.url contains '/lettings/' %}active-page{% endif %}">
              <a href="/lettings/home/">
                <i class="fa fa-building-o"></i>
                <span class="menu-title">
                  Lettings
                </span>
                <i class="arrow"></i>
              </a>
            </li>
            <li class="nav-grants {% if page.url contains '/grants/' %}active-page{% endif %}">
              <a href="/grants/">
                <i class="fa fa-briefcase"></i>
                <span class="menu-title">
                  Grants
                </span>
                <i class="arrow"></i>
              </a>
            </li>
            <li class="nav-sponsorship {% if page.url contains '/sponsorship/' %}active-page{% endif %}">
              <a href="/sponsorship/home/">
                <i class="fa fa-diamond"></i>
                <span class="menu-title">
                  Sponsorship
                </span>
                <i class="arrow"></i>
              </a>
            </li>
            <li class="list-divider"></li>
            <li class="list-header">System</li>
            <li class="nav-projects {% if page.url contains '/projects/' %}active-page{% endif %}">
              <a href="/projects/">
                <i class="fa fa-sitemap"></i>
                <span class="menu-title">
                  Projects
                  <span class="notification">1</span>
                </span>
                <i class="arrow"></i>
              </a>
            </li>
            <li  class="nav-reports {% if page.url contains '/reports/' %}active-page{% endif %}">
              <a href="/reports/">
                <i class="fa fa-folder-o"></i>
                <span class="menu-title">
                  Reports
                </span>
                <i class="arrow"></i>
              </a>
            </li>
            <li class="nav-finance {% if page.url contains '/transactions/' %}active-page{% endif %}">
              <a href="#">
                <i class="fa fa-exchange"></i>
                <span class="menu-title">
                  Transactions
                </span>
                <i class="arrow"></i>
              </a>
              <ul class="collapse {% if page.url contains '/transactions/' %}in{% endif %}">
                <li class="{% if page.url contains '/transactions/record/' %}active{% endif %}">
                  <a href="/transactions/record/">
                    Record Transaction
                  </a>
                </li>
                <li class="list-divider"></li>
                <li class="{% if page.url contains '/transactions/home/' %}active{% endif %}">
                  <a href="/transactions/home/">View Transactions</a>
                </li>
              </ul>
            </li>
            <li class="nav-stakeholder {% if page.url contains '/stakeholders/' %}active-page{% endif %}">
              <a href="/stakeholders/home/">
                <i class="fa fa-users"></i>
                <span class="menu-title">
                  SRM
                </span>
                <i class="arrow"></i>
              </a>
              <!--<ul class="collapse {% if page.url contains '/stakeholder/' %}in{% endif %}">
                <li>
                  <a herf="#" data-toggle="modal" data-target="#modal-add-name">
                    Create</a>
                </li>
                <li class="list-divider"></li>
                <li class="{% if page.url contains '/stakeholders/home/' %}active-page{% endif %}"><a href="/stakeholder/home/">Manage Stakeholders</a></li>
              </ul>-->
            </li>
            <li class="nav-admin {% if page.url contains '/admin/' %}active-page{% endif %}">
              <a href="#">
                <i class="fa fa-wrench"></i>
                <span class="menu-title">
                  Admin
                </span>
                <i class="arrow"></i>
              </a>
              <ul class="collapse {% if page.url contains '/admin/' %}in{% endif %}">
                <li class="{% if page.url contains '/admin/account/' %}active{% endif %}">
                  <a href="/admin/account/">Manage Accounts</a>
                </li>
                <li class="{% if page.url contains '/admin/bank/' %}active{% endif %}">
                  <a href="/admin/bank/">Manage Bank Accounts</a>
                </li>
              </ul>
            </li>
            <li class="list-divider"></li>
            <li class="nav-stakeholder {% if page.url contains '/support-admin/' %}active-page{% endif %}">
              <a href="/support-admin/">
                <i class="fa fa-crosshairs"></i>
                <span class="menu-title">
                  Support
                </span>
              </a>
            </li>
            <li class="">
              <a href="/logout/">
                <i class=" fa fa-power-off"></i>
                <span class="menu-title">
                  Logout
                </span>
              </a>
            </li>
          </ul>


        </div>
      </div>
    </div>
    <!--End menu-->

  </div>
</nav>
<!--END MAIN NAVIGATION-->
