---
layout: default-transactions
title: Transactions
permalink: /transactions/home/
heading: View Transactions
tagline: All your recorded transactions in one place

---

<!--
<div class="row">
  <div class="col-lg-12 col-md-12 page-title">
    <h1 class="page-header">{{ page.heading }}
    </h1>
  </div>
</div>
-->
<!--
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary btn-load" onclick="$('span').toggle()">
      <span style="display:none">Search</span>
      <span>Searching</span>
    </button>
  </div>
</div>
-->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-context-finance">
      <div class="panel-title">
        View Transactions
      </div>

      <div class="panel-subnav">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="row">
            <div class="col-sm-10">
              <div class="search">
                <input class="form-control" placeholder="Search by Name" type="text">
                <i class="glyphicon glyphicon-search"></i>
              </div>
            </div>
            <button class="btn btn-primary col-sm-2">Search</button>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <ul class="list-unstyled list-inline pull-right">
            <li>
              <a class="btn btn-add" href="#">
                <i class="fa fa-plus"></i>Add New
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="filter-menu hide" id="filter" >
        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="label-title">Filter by</div>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <!--<div class="pull-left">
                <a class="btn btn-default" onclick="$('#filter').addClass('hide')">Hide</a>
              </div>-->
              <div class="pull-right">
                <a class="btn btn-default">Clear Form</a>
                <a href="" class="btn btn-primary">
                  Search</a>
              </div>
            </div>
          </div>
        </div>

    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="date">Date{% include filter.html %}</th>
                <th class="rec">No#{% include filter.html %}</th>
                <th class="">Name{% include filter.html %}</th>
                <th class="details">Description</th>
                <th class="amount">Expenditure{% include filter.html %}</th>
                <th class="amount">Income{% include filter.html %}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="link" data-toggle="modal" data-target="#myModal-transaction">
                <td class="date">05/05/2016</td>
                <td class="rec">001</td>
                <td class="name">Louis Kelly</td>

                <td class="details details-sm">
                  Beamish Trip
                </td>
                <td class="amount expenditure"></td>
                <td class="amount income">
                  £17.50
                  <i class="glyphicon glyphicon-arrow-up"></i>
                </td>
              </tr>

              <tr>
                <td class="date">05/05/2016</td>
                <td class="rec">002</td>
                <td class="name">ABC Coaches</td>

                <td class="details details-sm">Deposit for Ski Coach</td>
                <td class="amount expenditure">
                  £250.00
                  <i class="glyphicon glyphicon-arrow-down"></i>
                </td>
                <td class="amount income">

                </td>
              </tr>
              <tr>
                <td class="date">05/05/2016</td>
                <td class="rec">003</td>
                <td class="name">Eileen Ferguson</td>

                <td class="details details-sm">
                  Book bags
                </td>
                <td class="amount expenditure"></td>
                <td class="amount income">
                  £9.99
                  <i class="glyphicon glyphicon-arrow-up"></i>
                </td>
              </tr>

              <tr>
                <td class="date">05/05/2016</td>
                <td class="rec">004</td>
                <td class="name">Anna Bryant</td>

                <td class="details details-sm">School Tie</td>
                <td class="amount expenditure">
                </td>
                <td class="amount income">
                  £5.00
                  <i class="glyphicon glyphicon-arrow-up"></i>
                </td>
              </tr>
              <tr>
                <td class="date">05/05/2016</td>
                <td class="rec">005</td>
                <td class="name">Taylor Scott</td>
                <td class="details details-sm">
                  Spanish Guitar Lessons
                </td>
                <td class="amount expenditure"></td>
                <td class="amount income">
                  £15.00
                  <i class="glyphicon glyphicon-arrow-up"></i>
                </td>
              </tr>

              <tr>
                <td class="date">05/05/2016</td>
                <td class="rec">006</td>
                <td class="name">Ralph Cole</td>

                <td class="details details-sm">Deposit for Ski trip to France 2016</td>
                <td class="amount expenditure">
                </td>
                <td class="amount income">
                  £150.00
                  <i class="glyphicon glyphicon-arrow-up"></i>
                </td>
              </tr>
              <tr>
                <td class="date">05/05/2016</td>
                <td class="rec">007</td>
                <td class="name">Arianna Obrien</td>

                <td class="details details-sm">
                  School Education Workshop
                </td>
                <td class="amount expenditure"></td>
                <td class="amount income">
                  £13.00
                  <i class="glyphicon glyphicon-arrow-up"></i>
                </td>
              </tr>

              <tr>
                <td class="date">05/05/2016</td>
                <td class="rec">008</td>
                <td class="name">Oscar Richards</td>

                <td class="details details-sm">School Meals</td>
                <td class="amount expenditure">
                </td>
                <td class="amount income">
                  £6.00
                  <i class="glyphicon glyphicon-arrow-up"></i>
                </td>
              </tr>
              <tr>
                <td class="date">05/05/2016</td>
                <td class="rec">009</td>
                <td class="name">Darren Banks</td>

                <td class="details details-sm">
                  Refund for Swimming Lesson
                </td>
                <td class="amount expenditure">
                  £8.00
                  <i class="glyphicon glyphicon-arrow-down"></i>
                </td>
                <td class="amount income">
                </td>
              </tr>

              <tr>
                <td class="date">05/05/2016</td>
                <td class="rec">010</td>
                <td class="name">Hannah Sanders</td>

                <td class="details details-sm">Science Trip</td>
                <td class="amount expenditure">
                </td>
                <td class="amount income">
                  £12.50
                  <i class="glyphicon glyphicon-arrow-up"></i>
                </td>
              </tr>
            </tbody>
          </table>


        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-lg-8">
              <ul class="pagination">
                  <li class="disabled">
                    <a data-page="prev" href="#" aria-label="Previous" class="page-prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                  </li>
                  <li class="active">
                    <a data-page="1" href="#" class="page">
                      1
                    </a>
                  </li>
                  <li class="">
                    <a data-page="2" href="#" class="page">
                      2
                    </a>
                  </li>
                  <li class="">
                    <a data-page="2" href="#" class="page">
                      3
                    </a>
                  </li>
                  <li class="">
                    <a data-page="2" href="#" class="page">
                      4
                    </a>
                  </li>
                  <li class="">
                    <a data-page="2" href="#" class="page">
                      5
                    </a>
                  </li>
                <li class="">
                  <a data-page="next" href="#" aria-label="Next" class="page-next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </li>
              </ul>
          </div>
          <div class="col-lg-4">
            <div class="page-total">
              Showing 1 - 10 of 2,000
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>
