//Inputs
.form-group-search{
  position: relative;
  i{
    position: absolute;
    left:15px;
    top:10px;
    font-size: 18px;
    color: $gray-light;
  }
  input{
    text-indent: 20px;
     border-radius: 50px;
   }
 }


//checkbox
.checkbox{
  span{
    display: block;
  }
}

.input-amount{
  @extend .text-xs-right;
}

.bs-wizard{
    .progress{
      border:none;
    }
}


label{
  text-transform: uppercase;
  color: $gray-light;
  font-size: 80%;
  font-weight: bold;
}

.form-control{
  border-width: 2px;
  border-color: $gray-lighter;
}
