//checkbox
.checkbox{
  span{
    display: block;
  }
}

.input-amount{
  @extend .text-xs-right;
}


label{
  text-transform: uppercase;
  color: $gray-light;
  font-size: 80%;
  font-weight: bold;
}

.form-control{
  border-width: 2px;
  border-color: $gray-lighter;
}

.has-disabled{
  .form-control[disabled]{
    background: none;
    border: none;
    box-shadow: none;
    font-weight: bold;
    padding: 5px 0px;
  }
}
