//Layouts
body{
  display: flex;
  min-height:100vh;
  overflow: scroll;
  flex-direction: column;
}
main{
  flex: 1;
  margin-top: 50px;
  &.content{
    margin-top:0px;
    height: 100vh;
  }
}

.hide{
  display: none;
}
