.modal{
  &-header{
    border-bottom: none;
  }
  &-body{
    .figure{
    }
    .img-thumbnail{
      width:100%;
      height:inherit;
    }
  }
}


.modal-footer-gray {
  background: $gray-lighter;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
