
.ribbon{
  background:$gray-dark;
  padding:15px 10px;
  color: $brand-gold;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  position: absolute;
  font-size:2rem;
  right:20px;
  top:-10px;
  &:before{
    content: "";
    position: absolute;
    top:0px;
    left:-10px;
    border-top: 10px solid transparent;
  	border-right:10px solid black;
  }
  span{
    &:before{
      content: "";
      position: absolute;
      bottom:-20px;
      left:0px;
      border-bottom: 25px solid transparent;
      border-left:27px solid $gray-dark;
    }
    &:after{
      content: "";
      position: absolute;
      bottom:-20px;
      right:0px;
      border-bottom: 25px solid transparent;
      border-right:27px solid $gray-dark;
    }
  }
}
