
//END FILL IMAGES
.section{
  padding:10px 0px;
  &-sm{
    padding:10px;
    @extend .text-xs-center;
    margin-bottom: 20px;

  }
  &-md{
    padding:40px 0px;
  }
  .card{
    color:initial;
  }

  &-green{
    background: $brand-green;
    color: $white;
  }
  &-blue{
    background: $brand-blue;
    color: $white;
  }
  &-orange{
    background: $brand-orange;
    color: $white;
  }
  &-pink{
    background: $brand-red;
    color: $white;
  }
}

@media (max-width:800px) {
  .container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}
