
//END FILL IMAGES
.section{
  padding:50px 0px;
  .card{
    color:initial;
  }
  &-green{
    background: $brand-green;
  }
  &-xl{
    height:100vh;
  }
  //BANNER
  &-banner {
    align-items: center;
    justify-content: center;
  }
}
