<!DOCTYPE html>
<html>

  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joinos Template</title>
  <meta name="description" content="">
 <link rel="stylesheet" href="css/joinos.css">
</head>

  <body class="theme-red">

<main style="">

<nav class="navbar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-left">
          <h1>
          The Reading Dog
          <small class="block">Powered by Joinos. a Pebble platform</small>
          </h1>
        </div>
        <div class="pull-right">
          <div class="organisation">
            <i class="awesome awesome-graduation-cap"></i>
            Little Oaks Primary School
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- banner-->
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 banner-container">
        <div class="banner-image">
          <!--<img src="img/bg/football-trial.jpg">-->
          <!--<img src="img/bg/pool.jpg">-->
          <!--<img src="img/bg/bike.jpg">-->
          <!--<img src="img/bg/bike2.jpg">-->
          <!--<img src="img/bg/potato.jpg">-->
          <!--<img src="img/bg/allotment.jpg">-->
          <!--<img src="img/bg/circuit.jpg">-->
          <!--<img src="img/bg/deck.jpg">-->
          <!--<img src="img/bg/guitar.jpg">-->
          <!--<img src="img/bg/library.jpg">-->
          <!--<img src="img/bg/music.jpg">-->
          <!--<img src="img/bg/ski.jpg">-->
          <img src="img/bg/dog.jpg">
          <!--<img src="img/bg/testtubes.jpg">-->
        </div>
      </div>
      <div class="col-sm-4 side-panel">
        <div class="content-md">
          <div class="value">
            <div class="amount">&pound;350
              <small class="block"><i class="awesome awesome-thumbs-o-up"></i> Raised by 23 Sponsors</small>
            </div>
          </div>
          <div class="actions-row">
            <a class="btn btn-lg btn-primary btn-block">
              Donate
            </a>
            <span class="help-text">
              <div class="row">
                <div class="col-sm-12">
                  <ul class="list-inline list-clear">
                    <li>
                      <small class="font-bold">Share &amp; Support&hellip;</small>
                    </li>
                    <li>
                      <a class="btn btn-facebook btn-xs btn-auto">
                        <i class="awesome awesome-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a class="btn btn-twitter btn-xs btn-auto">
                        <i class="awesome awesome-twitter-square"></i>
                      </a>
                    </li>
                    <li>
                      <a class="btn btn-secondary btn-xs btn-auto">
                        <i class="awesome awesome-envelope"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end banner -->


<!-- project-->
<section class="section-project">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3>
          <i class="awesome awesome-smile-o icon-theme"></i>
          Our Project Story
        </h3>
        <div class="row">
          <div class="col-sm-6">
            <p>Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.</p>
          </div>
          <div class="col-sm-6">
            <p><strong>Key Benefits</strong></p>
            <ul>
              <li>
                Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
              </li>
              <li>
                Nullam quis risus eget urna mollis ornare vel eu leo.
              </li>
              <li>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam.
              </li>
            </ul>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum.</p>

            <a href="" class="link-strong"><i class="awesome awesome-angle-down"></i> Find out more about our school</a>
          </div>
        </div>
        <div class="divider-thin"></div>
      </div>
      <div class="col-sm-4">

        <h3>
          <i class="awesome awesome-thumbs-o-up icon-theme"></i>
          Supporters(23)
        </h3>
        <ul class="list-supporters">
          <li>
            <img src="img/sponsors/user-1.jpg" class="">
            <div class="name">
              Stuart Richardson <span>1 min ago</span>
            </div>
            <div class="donation">
              &pound;10.00 <small> + &pound;2.00 Gift Aid</small>
            </div>
          </li>
          <li>
            <img src="img/sponsors/user-2.jpg" class="">
            <div class="name">
              Stuart Richardson <span>1 min ago</span>
            </div>
            <div class="donation">
              &pound;10.00 <small> + &pound;2.00 Gift Aid</small>
            </div>
          </li>
          <li>
            <img src="img/sponsors/user-3.jpg" class="">
            <div class="name">
              Stuart Richardson <span>1 min ago</span>
              <p>Good Luck Steve!! Such a fantastic course!</p>
            </div>
            <div class="donation">
              &pound;10.00 <small> + &pound;2.00 Gift Aid</small>
            </div>
          </li>
          <li>
            <img src="img/sponsors/user-4.jpg" class="">
            <div class="name">
              Stuart Richardson <span>1 min ago</span>
              <p>Good Luck Guys!xx</p>
            </div>
            <div class="donation">

              &pound;10.00 <small> + &pound;2.00 Gift Aid</small>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end project -->

<section class="section-cta">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-inline list-clear">
          <li><small class="font-bold">Share &amp; Support&hellip;</small></li>
          <li>
            <a class="btn btn-facebook btn-sm">Facebook</a>
          </li>
          <li>
            <a class="btn btn-twitter btn-sm">Twitter</a>
          </li>
          <li>
            <a class="btn btn-secondary btn-sm">Email</a>
          </li>
          <li class="list-divider-vertical"></li>
          <li>
            <a class="btn btn-primary btn-padded btn-sm">Donate</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- sponsorship-->
<section class="section-sponsor">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-5">
            <div class="content">
              <h2>
                <i class="awesome awesome-group icon-offset icon-theme"></i>
                Sponsorship
              </h2>
              <p class="lead">Help and connect with your local community</p>
            </div>
            <div class="divider"></div>
          </div>
          <div class="col-md-7">
            <div class="content">
              <p>Our school is always looking for new connections with businesses in the area. Our projects gain substantial publicity in the local community and wider areas. Working with us could help raise your company’s profile amongst an audience of thousands.</p>
              <p>If you are involved in a business and would like to like to collaborate with us to reach the wider community and grow your client base, there are a range of sponsorship opportunities available with great benefits.</p>
              <div class="actions-row">
                <div class="pull-left">
                  <a class="btn btn-theme btn-sm" data-toggle="modal" data-target="#modal-sponsor">Enquire Online</a><span class="help-text">or Call 08453101788</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="fill-image">
          <img src="img/comm-page-fill/sponsor.jpg">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end sponsorship -->

<!-- volunteer-->
<section class="section-volunteer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="fill-image">
          <img src="img/comm-page-fill/volunteer.jpg">
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-5">
            <div class="content">
              <h2>
                <i class="awesome awesome-child icon-offset icon-theme"></i>
              Become a <br/>Volunteer</h2>
                <p class="lead">Join others like you to help your local school and community</p>
                <div class="divider"></div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="content">
              <p>Complete your details below to register as a volunteer and the school will get back to you&hellip;</p>
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Name</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Tel.</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label">Message<span>(Optional)</span></label>
                  <div class="col-sm-9">
                    <textarea class="form-control" rows="2"></textarea>
                    <button type="submit" class="m-t-sm btn btn-theme btn-submit btn-block btn-sm">Send</button>

                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end Volunteer -->

<!-- school-->
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-5">
            <div class="content">
              <h2>
                <i class="awesome awesome-graduation-cap icon-offset icon-theme"></i>
                About our<br/> School
              </h2>
              <ul class="list-address">
                <li>Little Oaks Primary School</li>
                <li>Media Exchange 3</li>
                <li>Coquet Street</li>
                <li>NE1-2QB</li>
                <li>08453101788</li>
                <li>info@littloak.ac.uk</li>
                <li>www.littleoak.ac.uk</li>
              </ul>
              <ul class="list-inline list-clear">
                <li>
                  <a class="btn btn-facebook btn-xs btn-auto">
                    <i class="awesome awesome-facebook"></i>
                  </a>
                </li>
                <li>
                  <a class="btn btn-twitter btn-xs btn-auto">
                    <i class="awesome awesome-twitter-square"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="divider"></div>
          </div>
          <div class="col-md-7">
            <div class="content">
              <p>Our school is always looking for new connections with businesses in the area. Our projects gain substantial publicity in the local community and wider areas. Working with us could help raise your company’s profile amongst an audience of thousands.</p>
              <p>If you are involved in a business and would like to like to collaborate with us to reach the wider community and grow your client base, there are a range of sponsorship opportunities available with great benefits.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="fill-image">
          <img src="img/comm-page-fill/school.jpg">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end school -->

<!-- promo -->
<section class="section-promo">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2>Get a Community page like this for your school</h2>
        <ul class="list-checks">
          <li>
            Share Projects
          </li>
          <li>
            Accept Donations
          </li>
          <li>
            Share school updates
          </li>
        </ul>
        <div class="actions-row">
          <a class="btn btn-inverse-outline">
            Contact Joinos
          </a>
          <span class="help-text block text-white">T: 0845 310 1788</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end promo-->
</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-6">
            <strong>Support:</strong> support@joinos.com
          </div>
          <div class="col-sm-6 text-right">
            <strong>Sales:</strong> info@joinos.com
            08453101788
          </div>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <div class="footer-joinos">
          <p>
            School fundraising powered by
            <a class="footer-logo">
              <img src="img/logo/joinos-green-inv.svg">
            </a>
          </p>
          <small class="block">
            A <a class="footer-logo">
              <img src="img/logo/logo_pebble_wht.png" class="">
            </a>Platform.
          </small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 footer-copywrite">
        &copy; Joinos. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>

<!-- Joinos Modals -->
<div class="modal" id="modal-sm" tabindex="-1" role="dialog" aria-labelledby="modal-sm">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        Small Modal
      </div>
      <div class="modal-body">
        <div class="actions-row">
          <a class="btn btn-info" data-dismiss="modal">
            Close Window
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        Standard Modal
      </div>
      <div class="modal-body">

        <div class="actions-row">
          <a class="btn btn-info" data-dismiss="modal">
            Close Window
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal-lg">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        Large Modal
      </div>
      <div class="modal-body">
        <div class="actions-row">
          <a class="btn btn-info" data-dismiss="modal">
            Close Window
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-sponsor" tabindex="-1" role="dialog" aria-labelledby="modal-lg">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="text-center">
              <h3>Sponsorship Enquiry</h3>
              <p>
                Please provide the below details and a member of our sponsorship team will be in touch..
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">

        <div class="row">
          <form class="form-horizontal col-sm-8 col-sm-offset-2">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">Name</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="inputEmail3" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">Company</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="inputEmail3" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">Tel.</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="inputEmail3" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="inputEmail3" placeholder="">
              </div>
            </div>
          </form>
        </div>

        <div class="actions-row">
          <a class="btn btn-theme" data-dismiss="modal">
            Send
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--JAVASCRIPT-->
<!--=================================================-->
<!-- Placed JavaScript at bottom of page for quicker loading -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.js"></script>

  </body>

</html>
