<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <meta name="description" content="">
   <link rel="stylesheet" href="/arro-demo/template/arro/css/arro.css">
  </head>
  <body id="navbar-example">
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="pull-left">
              <a href="index.html" class="navbar-brand">
              </a>
              <span class="org-name">
                Arro Documentation
              </span>
            </div>
            <div class="pull-right">
              <a class="btn btn-primary btn-sm">
                Pomote a Project
              </a>
              <a class="btn btn-primary-outline btn-sm">
                Record Donation
              </a>

              <ul class="nav navbar-nav navbar-right">
                <li class="nav-alert">
                  <a>
                    <i class="awesome awesome-bell"></i>
                    <span class="label">1</span>
                  </a>
                </li>
                <li>
                  <a>
                    Adam Hogg
                    <span class="caret"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <nav class="sidenav-container">
      <ul class="main-nav">
        <li class="nav-large nav-project">
          <a href="">
            <i class="awesome awesome-sitemap"></i>
            Projects
          </a>
        </li>
        <li class="nav-large nav-activities  "><!-- active-page  -->
          <a data-toggle="collapse" href="#activities">
            <i class="awesome awesome-th"></i>
            <span class="menu-title">
              Activities
            </span>
            <i class="arrow"></i>
          </a>
          <ul class="subnav collapse " id="activities">
            <li class="">
              <a href="#">
                Record Donation
              </a>
            </li>
            <li class="list-divider"></li>
            <li class="">
              <a href="#">View Donations</a>
            </li>
            <li class="">
              <a href="#">Gift Aid Claims</a>
            </li>
          </ul>
        </li>
        <li class="">
          <a href="">
            Transactions
          </a>
        </li>
        <li class="">
          <a href="">
            SRM
          </a>
        </li>
        <li class="">
          <a href="">
            Admin
          </a>
        </li>
        <li class="">
          <a href="">
            Help
          </a>
        </li>
      </ul>

      <ul class="footer-nav">
        <li class="footer-intro">See what's coming soon!</li>
        <li>
          <a href="">Reports</a>
        </li>
        <li>
          <a href="">Clubs &amp; Events</a>
        </li>
        <li>
          <a href="">Services &amp; Lettings</a>
        </li>
        <li class="brand">
          <img src="img/logo/logo_dots.svg">
          &copy; Arro by Pebble
        </li>
      </ul>
    </nav>

    <div class="page-content">
      <main>
  <section>
    <div class="jumbotron">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="title">Sample Images</h1>
            <p class="details">Images within the Arro system</p>
            <div class="actions-row">
              <a href="/arro/" class="btn btn-primary">Back to Template</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>Onboarding Images</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <img src="img/welcome.png" alt="" class="img-thumbnail">
          <!--<span>welcome.png</span>-->
        </div>
        <div class="col-sm-3">
          <img src="img/sent.png" alt="" class="img-thumbnail">
          <!--<span class="">sent.png</span>-->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>Grants Images</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1">
          <img src="img/grants-icons/icon-awards.png" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/grants-icons/icon-bucket.png" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/grants-icons/icon-cash.png" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/grants-icons/icon-certificate.png" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/grants-icons/icon-discount.png" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/grants-icons/icon-free.png" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/grants-icons/icon-support.png" class="img-thumbnail">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>Campaigns Images</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1">
          <img src="img/iconset/campaign-01.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/campaign-02.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/campaign-03.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/campaign-04.svg" class="img-thumbnail">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>Projects Images</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1">
          <img src="img/iconset/project-01.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/project-02.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/project-03.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/project-04.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/project-05.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/project-06.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/project-07.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/project-08.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/project-09.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/project-10.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/project-11.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/project-12.svg" class="img-thumbnail">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1">
          <img src="img/iconset/project-13.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/project-14.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/project-15.svg" class="img-thumbnail">
        </div>
        <div class="col-sm-1">
          <img src="img/iconset/project-16.svg" class="img-thumbnail">
        </div>
      </div>
    </div>
  </section>
</main>

      </div>

    <!-- Templates -->
    <div class="modal" id="modal-sm" tabindex="-1" role="dialog" aria-labelledby="modal-sm">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            Small Modal
          </div>
          <div class="modal-body">
            <div class="actions-row">
              <a class="btn btn-info" data-dismiss="modal">
                Close Window
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            Standard Modal
          </div>
          <div class="modal-body">
            <div class="actions-row">
              <a class="btn btn-info" data-dismiss="modal">
                Close Window
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" id="modal-lg" tabindex="-1" role="dialog" aria-labelledby="modal-lg">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            Large Modal
          </div>
          <div class="modal-body">
            <div class="actions-row">
              <a class="btn btn-info" data-dismiss="modal">
                Close Window
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!-- Placed JavaScript at bottom of page for quicker loading -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>

</html>
