---
layout: default-grants
title: Grants
permalink: /grants/
heading: Grants
tagline: Find a Grant to help with your next school project
---

<div class="jumbotron hide">
  <div class="row">
    <div class="col-lg-7 col-md-6 ">
    </div>
    <div class="col-lg-5 col-md-6 ">
      <div class="panel">
          <div class="panel-title">Getting started
        </div>
        <div class="panel-body">
          <h3>Grants</h3>
          <p>Here you'll find 100's of grants available to your organisation. Arro makes it easy to browser and apply, we have even rated each grant so you know how easy they may be to obtain. Start funding today, lets get browsing!</p>
          <br>
          <div class="staff-comment">
            Daniel Wakenshaw
            <small class="block">Pebble Support Team</small>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="pull-right">
        <a class="btn btn-info">Got it</a>
      </div>
    </div>
  </div>
</div>

<!--- content-->
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="panel panel-context-grants">
      <div class="panel-title">Grants</div>
      <div class="panel-subnav">
        <div class="col-md-12">
          <!--<div class="control-label">Filter by:</div>-->
          <ul class="list-unstyled list-inline list-dividers">
            <li class="col-md-3 col-sm-5">
              <div class="form-group btn-block">
                <select class="selectpicker form-control" data-style="btn btn-default">
                  <option>All Subjects</option>
                  <option>Art and Design</option>
                  <option>Business Studies</option>
                  <option>Citizenship</option>
                  <option>Design and Technology</option>
                  <option>English Language / Literacy</option>
                  <option>Geography</option>
                  <option>History</option>
                  <option>ICT</option>
                  <option>Languages</option>
                  <option>Mathematics</option>
                  <option>Physical Education</option>
                  <option>Religious Education</option>
                  <option>Science</option>
                </select>
              </div>
            </li>
            <li class="col-md-3 col-sm-5">
             <div class="button-group btn-group-checkboxes">
                <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
                  <span>Grant Type</span>
                  <span class="caret"></span>
                </button>
                 <ul class="dropdown-menu dropdown-menu-checkbox">
                  <li>
                    <a href="#" data-value="option-agt">
                      <div class="checkbox checkbox-primary" data-value="option-agt">
                        <input id="option-agt" value="option-agt" type="checkbox">
                        <label for="option-award">All Grant Types</label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-award">
                      <div class="checkbox checkbox-primary" data-value="option-award">
                        <input id="option-award" value="option-test" type="checkbox">
                        <label for="option-award">Award</label>
                        <span class="icon-xs">
                          <img src="/img/grants-icons/icon-awards.png">
                        </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-cash">
                      <div class="checkbox checkbox-primary" data-value="option-cash">
                        <input id="option-cash" value="option-cash" type="checkbox">
                        <label for="option-cash">Cash</label>
                        <span class="icon-xs">
                          <img src="/img/grants-icons/icon-cash.png">
                        </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-competition">
                      <div class="checkbox checkbox-primary" data-value="option-competition">
                        <input id="option-competition" value="option-competition" type="checkbox">
                        <label for="option-competition">Competition</label>
                        <span class="icon-xs">
                          <img src="/img/grants-icons/icon-certificate.png">
                        </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-discount">
                      <div class="checkbox checkbox-primary" data-value="option-award">
                        <input id="option-discount" value="option-discount" type="checkbox">
                        <label for="option-discount">Discount</label>
                        <span class="icon-xs">
                          <img src="/img/grants-icons/icon-discount.png">
                        </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-freebie">
                      <div class="checkbox checkbox-primary" data-value="option-award">
                        <input id="option-freebie" value="option-freebie" type="checkbox">
                        <label for="option-freebie">Freebie</label>
                        <span class="icon-xs">
                          <img src="/img/grants-icons/icon-free.png">
                        </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-fund">
                      <div class="checkbox checkbox-primary" data-value="option-fund">
                        <input id="option-fund" value="option-fund" type="checkbox">
                        <label for="option-fund">Fundraising</label>
                        <span class="icon-xs">
                          <img src="/img/grants-icons/icon-bucket.png">
                        </span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-iksupport">
                      <div class="checkbox checkbox-primary" data-value="option-iksupport">
                        <input id="option-iksupport" value="option-iksupport" type="checkbox">
                        <label for="option-iksupport">In Kind Support</label>
                        <span class="icon-xs">
                          <img src="/img/grants-icons/icon-support.png">
                        </span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="col-md-2 hidden-sm">
             <div class="button-group btn-group-checkboxes">
                <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
                  <span>Difficulty</span>
                  <span class="caret"></span>
                </button>
                 <ul class="dropdown-menu dropdown-menu-checkbox">
                   <li class="dropdown-header">Detail Required</li>
                  <li>
                    <a href="#" data-value="option-agt">
                      <div class="checkbox checkbox-primary" data-value="option-agt">
                        <input id="option-agt" value="option-agt" type="checkbox">
                        <label for="option-all">All</label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-basic">
                      <div class="checkbox checkbox-primary" data-value="option-basic">
                        <input id="option-basic" value="option-basic" type="checkbox">
                        <label for="option-basic">Basic</label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-moderate">
                      <div class="checkbox checkbox-primary" data-value="option-moderate">
                        <input id="option-moderate" value="option-moderate" type="checkbox">
                        <label for="option-moderate">Moderate</label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-complex">
                      <div class="checkbox checkbox-primary" data-value="option-complex">
                        <input id="option-complex" value="option-weeks" type="checkbox">
                        <label for="option-complex">Complex</label>

                      </div>
                    </a>
                  </li>
                  <li class="dropdown-header">To Complete</li>
                  <li>
                    <a href="#" data-value="option-agt">
                      <div class="checkbox checkbox-primary" data-value="option-agt">
                        <input id="option-agt" value="option-agt" type="checkbox">
                        <label for="option-all">All</label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-hours">
                      <div class="checkbox checkbox-primary" data-value="option-hours">
                        <input id="option-hours" value="option-hours" type="checkbox">
                        <label for="option-hours">A few hours</label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-days">
                      <div class="checkbox checkbox-primary" data-value="option-days">
                        <input id="option-days" value="option-days" type="checkbox">
                        <label for="option-days">A few days</label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-weeks">
                      <div class="checkbox checkbox-primary" data-value="option-weeks">
                        <input id="option-weeks" value="option-weeks" type="checkbox">
                        <label for="option-weeks">A few weeks</label>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="col-md-2 hidden-sm">
             <div class="button-group btn-group-checkboxes">
                <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
                  <span>Status</span>
                  <span class="caret"></span>
                </button>
                 <ul class="dropdown-menu dropdown-menu-checkbox">
                   <li>
                     <a href="#" data-value="option-agt">
                       <div class="checkbox checkbox-primary" data-value="option-agt">
                         <input id="option-agt" value="option-agt" type="checkbox">
                         <label for="option-all">All</label>
                       </div>
                     </a>
                   </li>
                   <li>
                    <a href="#" data-value="option-agt">
                      <div class="checkbox checkbox-primary" data-value="option-agt">
                        <input id="option-agt" value="option-agt" type="checkbox">
                        <label for="option-all">New</label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-basic">
                      <div class="checkbox checkbox-primary" data-value="option-basic">
                        <input id="option-basic" value="option-basic" type="checkbox">
                        <label for="option-basic">Updated</label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-moderate">
                      <div class="checkbox checkbox-primary" data-value="option-moderate">
                        <input id="option-moderate" value="option-moderate" type="checkbox">
                        <label for="option-moderate">Expiring</label>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <!--
            <li class="col-md-3">
             <div class="button-group btn-group-checkboxes">
                <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
                  <span>Detail Required</span>
                  <span class="caret"></span>
                </button>
                 <ul class="dropdown-menu dropdown-menu-checkbox">
                  <li>
                    <a href="#" data-value="option-agt">
                      <div class="checkbox checkbox-primary" data-value="option-agt">
                        <input id="option-agt" value="option-agt" type="checkbox">
                        <label for="option-all">All</label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-basic">
                      <div class="checkbox checkbox-primary" data-value="option-basic">
                        <input id="option-basic" value="option-basic" type="checkbox">
                        <label for="option-basic">Basic</label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-moderate">
                      <div class="checkbox checkbox-primary" data-value="option-moderate">
                        <input id="option-moderate" value="option-moderate" type="checkbox">
                        <label for="option-moderate">Moderate</label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-complex">
                      <div class="checkbox checkbox-primary" data-value="option-complex">
                        <input id="option-complex" value="option-weeks" type="checkbox">
                        <label for="option-complex">Complex</label>

                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="col-md-3">
             <div class="button-group btn-group-checkboxes">
                <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
                  <span>To Complete</span>
                  <span class="caret"></span>
                </button>
                 <ul class="dropdown-menu dropdown-menu-checkbox">
                  <li>
                    <a href="#" data-value="option-agt">
                      <div class="checkbox checkbox-primary" data-value="option-agt">
                        <input id="option-agt" value="option-agt" type="checkbox">
                        <label for="option-all">All</label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-hours">
                      <div class="checkbox checkbox-primary" data-value="option-hours">
                        <input id="option-hours" value="option-hours" type="checkbox">
                        <label for="option-hours">A few hours</label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-days">
                      <div class="checkbox checkbox-primary" data-value="option-days">
                        <input id="option-days" value="option-days" type="checkbox">
                        <label for="option-days">A few days</label>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-value="option-weeks">
                      <div class="checkbox checkbox-primary" data-value="option-weeks">
                        <input id="option-weeks" value="option-weeks" type="checkbox">
                        <label for="option-weeks">A few weeks</label>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </li>-->



            <li class="col-md-1 col-sm-1">
              <a id="btn-search" class="btn btn-default btn-block btn-clear-i btn-search text-left" onclick="$('#search-box').toggleClass('hide'), $('#btn-search').toggleClass('active')">
                <i class="fa fa-search"></i> <!--Starred <span class="hidden-sm">Grants</span>-->
              </a>
            </li>
            <li class="col-md-1 col-sm-1">
              <a class="btn btn-block text-left btn-clear-i btn-star" onclick="$('#star').toggleClass('active')" id="star">
                <i class="fa fa-star  text-favourite"></i> <!--Starred <span class="hidden-sm">Grants</span>-->
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- keyword search -->
      <div class="panel-subnav panel-subnav-gray hide" id='search-box'>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="row">
            <div class="col-sm-10">
              <div class="search">
                <input class="form-control" placeholder="Search by Grant Title" type="text">
                <i class="glyphicon glyphicon-search"></i>
              </div>
            </div>
            <button class="btn btn-primary col-sm-2">Search</button>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover table-vam">
            <thead>
                <tr>
                  <th></th>
                  <th class="title">Grant Title</th>
                  <th class="value">Award</th>
                  <th class="rating">Detail <span class="hidden-sm"> Required</span><!--{% include filter.html %}--></th>
                  <th class="duration"><span class="hidden-sm">To </span>complete <!--{% include filter.html %}--></th>
                  <th class="date date-right">Deadline  <!--{% include filter.html %}--></th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <td class="check-star checked">
                  <a>
                    <i class="fa fa-star"></i>
                  </a>
                </td>
                <td class="title link">
                  <a data-toggle="modal" data-target="#myModalGrants">
                    <span class="grant-icon">
                      <img src="/img/grants-icons/icon-awards.png">
                    </span>
                    Grants for Guitars
                  </a>
                </td>
                <td class="value">
                  &pound;1,000
                </td>
                <td class="rating rating-easy">
                  Basic
                </td>
                <td class="duration">
                  A few days
                </td>
                <td class="date date-right">
                  None
                </td>
              </tr>
              <tr>
                <td class="check-star">
                  <a>
                    <i class="fa fa-star-o"></i>
                  </a>
                </td>
                <td class="title link">
                  <a data-toggle="modal" data-target="#myModalGrants-lg">
                    <span class="grant-icon">
                      <img src="/img/grants-icons/icon-cash.png">
                    </span>
                    Sport England Inspired Facilities
                  </a>
                </td>
                <td class="value">
                  &pound;150,000
                </td>
                <td class="rating rating-hard">
                  Complex
                </td>
                <td class="duration">
                  A few weeks
                </td>
                <td class="date date-right">
                  04/02/2016
                </td>
              </tr>
              <tr>
                <td class="check-star" id="star">
                  <a>
                    <i class="fa fa-star-o"></i>
                  </a>
                </td>
                <td class="title link">
                  <a href="">
                    <span class="grant-icon">
                      <img src="/img/grants-icons/icon-certificate.png">
                    </span>
                    Grants for Sport Science
                  </a>
                </td>
                <td class="value">
                  &pound;1,000
                </td>
                <td class="rating rating-medium">
                  Moderate
                </td>
                <td class="duration">
                  A few days
                </td>
                <td class="date date-right">
                  05/02/2016
                </td>
              </tr>
              <tr>
                <td class="check-star" id="star">
                  <a>
                    <i class="fa fa-star-o"></i>
                  </a>
                </td>
                <td class="title link">
                  <a href="">
                    <span class="grant-icon">
                      <img src="/img/grants-icons/icon-discount.png">
                    </span>
                    Access Broadband Cymru
                  </a>
                </td>
                <td class="value">
                  <div data-toggle="tooltip" data-placement="top" title="This grant will give you access to a new setup etc for broadband">details
                  </div>
                </td>
                <td class="rating rating-medium">
                  Moderate
                </td>
                <td class="duration">
                  A few days
                </td>
                <td class="date date-right">
                  04/04/2016
                </td>
              </tr>
              <tr>
                <td class="check-star" id="star">
                  <a>
                    <i class="fa fa-star-o"></i>
                  </a>
                </td>
                <td class="title link">
                  <a href="">
                    <span class="grant-icon">
                      <img src="/img/grants-icons/icon-free.png">
                    </span>
                  Alchol Education Trust: Free resources
                  </a>
                </td>
                <td class="value">
                  details
                </td>
                <td class="rating rating-easy">
                  Basic
                </td>
                <td class="duration">
                  A few days
                </td>
                <td class="date date-right">
                  06/04/2016
                </td>
              </tr>
              <tr>
                <td class="check-star" id="star">
                  <a>
                    <i class="fa fa-star-o"></i>
                  </a>
                </td>
                <td class="title link">
                  <a href="">
                    <span class="grant-icon">
                      <img src="/img/grants-icons/icon-support.png">
                    </span>
                    ASH Scotland: Free tobacco awareness raising session
                  </a>
                </td>
                <td class="value">
                  details
                </td>
                <td class="rating rating-easy">
                  Basic
                </td>
                <td class="duration">
                  A few days
                </td>
                <td class="date date-right">
                  10/04/2016
                </td>
              </tr>
              <tr>
                <td class="check-star" id="star">
                  <a>
                    <i class="fa fa-star-o"></i>
                  </a>
                </td>
                <td class="title link">
                  <a href="">
                    <span class="grant-icon">
                      <img src="/img/grants-icons/icon-bucket.png">
                    </span>
                    Arla: Community Challenge
                  </a>
                </td>
                <td class="value">
                  details
                </td>
                <td class="rating rating-easy">
                  Basic
                </td>
                <td class="duration">
                  A few days
                </td>
                <td class="date date-right">
                  26/05/2016
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="loader">Loading...</div>
</div>
