<!-- Modal -->
<div class="modal fade" id="modal-img-1" tabindex="-1" role="dialog" aria-labelledby="modal-img-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="figure" data-toggle="modal" data-target="#modal-img-1">
              <img src="static/images/project1.jpg" class="figure-img img-fluid img-thumbnail" alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="figure-caption">Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</div>
            </div>
          </div>
        </div>
      </div>
      <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-Primary" data-dismiss="modal">Close</button>
        </div>
      -->
    </div>
  </div>
</div>
