/* Symbolic Icon set */

 @font-face {
  font-family: "symbolicicon";
  src:url("../fonts/symbolicicon/symbolicicon.eot");
  src:url("../fonts/symbolicicon/symbolicicon.eot") format("embedded-opentype"),
  url("../fonts/symbolicicon/symbolicicon.woff") format("woff"),
  url("../fonts/symbolicicon/symbolicicon.ttf") format("truetype"),
  url("../fonts/symbolicicon/symbolicicon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="symb-"]:before,
[class*=" symb-"]:before {
  font-family: "symbolicicon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.symb-alert:before {
  content: "a";
}
.symb-anchor:before {
  content: "b";
}
.symb-apple:before {
  content: "c";
}
.symb-arrange:before {
  content: "d";
}
.symb-arrange-fill:before {
  content: "e";
}
.symb-arrange-stroke:before {
  content: "f";
}
.symb-arrow-down:before {
  content: "g";
}
.symb-arrow-down-alt:before {
  content: "h";
}
.symb-arrow-left:before {
  content: "i";
}
.symb-arrow-left-alt:before {
  content: "j";
}
.symb-arrow-right:before {
  content: "k";
}
.symb-arrow-right-alt:before {
  content: "l";
}
.symb-arrow-up:before {
  content: "m";
}
.symb-arrow-up-alt:before {
  content: "n";
}
.symb-asterisk:before {
  content: "o";
}
.symb-award-medal:before {
  content: "p";
}
.symb-award-ribbon:before {
  content: "q";
}
.symb-baby:before {
  content: "r";
}
.symb-baby-bottle:before {
  content: "s";
}
.symb-baby-swaddle:before {
  content: "t";
}
.symb-badge-sheriff:before {
  content: "u";
}
.symb-bag-paper:before {
  content: "v";
}
.symb-bag-shopping:before {
  content: "w";
}
.symb-balloons:before {
  content: "x";
}
.symb-bandaid:before {
  content: "y";
}
.symb-bar-graph:before {
  content: "z";
}
.symb-bar-graph-alt:before {
  content: "A";
}
.symb-barn-silo:before {
  content: "B";
}
.symb-baseball:before {
  content: "C";
}
.symb-basketball:before {
  content: "D";
}
.symb-battery-charge:before {
  content: "E";
}
.symb-battery-empty:before {
  content: "F";
}
.symb-battery-full:before {
  content: "G";
}
.symb-battery-half:before {
  content: "H";
}
.symb-beaker:before {
  content: "I";
}
.symb-bear-head:before {
  content: "J";
}
.symb-beer-bottle:before {
  content: "K";
}
.symb-beer-mug:before {
  content: "L";
}
.symb-bell:before {
  content: "M";
}
.symb-bicycle:before {
  content: "N";
}
.symb-big-gulp:before {
  content: "O";
}
.symb-binoculars:before {
  content: "P";
}
.symb-bird:before {
  content: "Q";
}
.symb-bird-alt:before {
  content: "R";
}
.symb-birthday-cake:before {
  content: "S";
}
.symb-block:before {
  content: "T";
}
.symb-boat:before {
  content: "U";
}
.symb-bone:before {
  content: "V";
}
.symb-book-open:before {
  content: "W";
}
.symb-books:before {
  content: "X";
}
.symb-books-pencil:before {
  content: "Y";
}
.symb-box:before {
  content: "Z";
}
.symb-box-action:before {
  content: "0";
}
.symb-box-bankers:before {
  content: "1";
}
.symb-box-check:before {
  content: "2";
}
.symb-box-download:before {
  content: "3";
}
.symb-box-edit:before {
  content: "4";
}
.symb-box-expand:before {
  content: "5";
}
.symb-box-upload:before {
  content: "6";
}
.symb-bridge-covered:before {
  content: "7";
}
.symb-brightness:before {
  content: "8";
}
.symb-browser:before {
  content: "9";
}
.symb-brush:before {
  content: "!";
}
.symb-bug:before {
  content: "\"";
}
.symb-bullseye-arrow:before {
  content: "#";
}
.symb-burger:before {
  content: "$";
}
.symb-bus:before {
  content: "%";
}
.symb-button:before {
  content: "&";
}
.symb-calculator:before {
  content: "'";
}
.symb-calendar:before {
  content: "(";
}
.symb-calendar-alt:before {
  content: ")";
}
.symb-camera:before {
  content: "*";
}
.symb-camera-alt:before {
  content: "+";
}
.symb-campfire:before {
  content: ",";
}
.symb-cancel:before {
  content: "-";
}
.symb-candle:before {
  content: ".";
}
.symb-car:before {
  content: "/";
}
.symb-car-mechanic:before {
  content: ":";
}
.symb-cat-head:before {
  content: ";";
}
.symb-chain-link:before {
  content: "<";
}
.symb-check-money:before {
  content: "=";
}
.symb-cheese:before {
  content: ">";
}
.symb-city:before {
  content: "?";
}
.symb-clipboard-pencil:before {
  content: "@";
}
.symb-clock:before {
  content: "[";
}
.symb-clock-alarm:before {
  content: "]";
}
.symb-clock-alt:before {
  content: "^";
}
.symb-cloud-download:before {
  content: "_";
}
.symb-cloud-upload:before {
  content: "`";
}
.symb-coffee-mug:before {
  content: "{";
}
.symb-coffee-togo:before {
  content: "|";
}
.symb-compact-disc:before {
  content: "}";
}
.symb-compass:before {
  content: "~";
}
.symb-computer-monitor:before {
  content: "\\";
}
.symb-connect:before {
  content: "\e000";
}
.symb-contact-cards:before {
  content: "\e001";
}
.symb-contract:before {
  content: "\e002";
}
.symb-contract-alt:before {
  content: "\e003";
}
.symb-crate:before {
  content: "\e004";
}
.symb-crate-download:before {
  content: "\e005";
}
.symb-crate-upload:before {
  content: "\e006";
}
.symb-crayons:before {
  content: "\e007";
}
.symb-credit-card:before {
  content: "\e008";
}
.symb-crochet-hooks:before {
  content: "\e009";
}
.symb-crop:before {
  content: "\e00a";
}
.symb-cross:before {
  content: "\e00b";
}
.symb-cross-case:before {
  content: "\e00c";
}
.symb-cross-circle:before {
  content: "\e00d";
}
.symb-crown:before {
  content: "\e00e";
}
.symb-cut-paste:before {
  content: "\e00f";
}
.symb-dashboard:before {
  content: "\e010";
}
.symb-database:before {
  content: "\e011";
}
.symb-database-add:before {
  content: "\e012";
}
.symb-database-alt:before {
  content: "\e013";
}
.symb-delete:before {
  content: "\e014";
}
.symb-diaper:before {
  content: "\e015";
}
.symb-dice-five:before {
  content: "\e016";
}
.symb-dice-four:before {
  content: "\e017";
}
.symb-dice-hanging:before {
  content: "\e018";
}
.symb-dice-one:before {
  content: "\e019";
}
.symb-dice-six:before {
  content: "\e01a";
}
.symb-dice-three:before {
  content: "\e01b";
}
.symb-dice-two:before {
  content: "\e01c";
}
.symb-dining:before {
  content: "\e01d";
}
.symb-discs:before {
  content: "\e01e";
}
.symb-document:before {
  content: "\e01f";
}
.symb-document-add:before {
  content: "\e020";
}
.symb-document-cancel:before {
  content: "\e021";
}
.symb-document-magnify:before {
  content: "\e022";
}
.symb-document-subtract:before {
  content: "\e023";
}
.symb-dog:before {
  content: "\e024";
}
.symb-dog-head:before {
  content: "\e025";
}
.symb-door-open:before {
  content: "\e026";
}
.symb-dryer:before {
  content: "\e027";
}
.symb-earth:before {
  content: "\e028";
}
.symb-easter-egg:before {
  content: "\e029";
}
.symb-egg-fried:before {
  content: "\e02a";
}
.symb-eightball:before {
  content: "\e02b";
}
.symb-eject:before {
  content: "\e02c";
}
.symb-elevator:before {
  content: "\e02d";
}
.symb-email:before {
  content: "\e02e";
}
.symb-email-download:before {
  content: "\e02f";
}
.symb-email-send:before {
  content: "\e030";
}
.symb-expand:before {
  content: "\e031";
}
.symb-expand-alt:before {
  content: "\e032";
}
.symb-eye-dropper:before {
  content: "\e033";
}
.symb-fabric:before {
  content: "\e034";
}
.symb-face-happy:before {
  content: "\e035";
}
.symb-fastforward:before {
  content: "\e036";
}
.symb-fax:before {
  content: "\e037";
}
.symb-fence:before {
  content: "\e038";
}
.symb-file-cabinet:before {
  content: "\e039";
}
.symb-film-clapper:before {
  content: "\e03a";
}
.symb-film-play:before {
  content: "\e03b";
}
.symb-film-strip:before {
  content: "\e03c";
}
.symb-filter:before {
  content: "\e03d";
}
.symb-filter-alt:before {
  content: "\e03e";
}
.symb-fireplace:before {
  content: "\e03f";
}
.symb-flag:before {
  content: "\e040";
}
.symb-flashlight:before {
  content: "\e041";
}
.symb-flip-horizontal:before {
  content: "\e042";
}
.symb-flip-vertical:before {
  content: "\e043";
}
.symb-flow-chart:before {
  content: "\e044";
}
.symb-flower:before {
  content: "\e045";
}
.symb-flux-capacitor:before {
  content: "\e046";
}
.symb-folder:before {
  content: "\e047";
}
.symb-folder-add:before {
  content: "\e048";
}
.symb-folder-cancel:before {
  content: "\e049";
}
.symb-folder-download:before {
  content: "\e04a";
}
.symb-folder-subtract:before {
  content: "\e04b";
}
.symb-folder-upload:before {
  content: "\e04c";
}
.symb-football:before {
  content: "\e04d";
}
.symb-footsteps:before {
  content: "\e04e";
}
.symb-frame:before {
  content: "\e04f";
}
.symb-frame-flower:before {
  content: "\e050";
}
.symb-frame-heart:before {
  content: "\e051";
}
.symb-frame-people:before {
  content: "\e052";
}
.symb-frame-person:before {
  content: "\e053";
}
.symb-frame-question:before {
  content: "\e054";
}
.symb-frame-star:before {
  content: "\e055";
}
.symb-frame-tree:before {
  content: "\e056";
}
.symb-frame-utensils:before {
  content: "\e057";
}
.symb-french-fries:before {
  content: "\e058";
}
.symb-frown:before {
  content: "\e059";
}
.symb-fx-effects:before {
  content: "\e05a";
}
.symb-game-controller:before {
  content: "\e05b";
}
.symb-gas-station:before {
  content: "\e05c";
}
.symb-gavel:before {
  content: "\e05d";
}
.symb-gear:before {
  content: "\e05e";
}
.symb-genius:before {
  content: "\e05f";
}
.symb-ghost:before {
  content: "\e060";
}
.symb-gift-present:before {
  content: "\e061";
}
.symb-glass-cup:before {
  content: "\e062";
}
.symb-globe:before {
  content: "\e063";
}
.symb-globe-stand:before {
  content: "\e064";
}
.symb-golf:before {
  content: "\e065";
}
.symb-golf-hole:before {
  content: "\e066";
}
.symb-graduation-cap:before {
  content: "\e067";
}
.symb-grid:before {
  content: "\e068";
}
.symb-grid-block:before {
  content: "\e069";
}
.symb-grid-block-alt:before {
  content: "\e06a";
}
.symb-growler:before {
  content: "\e06b";
}
.symb-gym:before {
  content: "\e06c";
}
.symb-hammer-screwdriver:before {
  content: "\e06d";
}
.symb-hand:before {
  content: "\e06e";
}
.symb-hard-disk:before {
  content: "\e06f";
}
.symb-hard-disk-download:before {
  content: "\e070";
}
.symb-hard-disk-network:before {
  content: "\e071";
}
.symb-headphones:before {
  content: "\e072";
}
.symb-heart:before {
  content: "\e073";
}
.symb-heart-add:before {
  content: "\e074";
}
.symb-heart-cancel:before {
  content: "\e075";
}
.symb-hiker:before {
  content: "\e076";
}
.symb-home:before {
  content: "\e077";
}
.symb-hotdog-bun:before {
  content: "\e078";
}
.symb-hottub:before {
  content: "\e079";
}
.symb-hourglass:before {
  content: "\e07a";
}
.symb-inbox:before {
  content: "\e07b";
}
.symb-inbox-download:before {
  content: "\e07c";
}
.symb-inbox-upload:before {
  content: "\e07d";
}
.symb-info:before {
  content: "\e07e";
}
.symb-insert-book:before {
  content: "\e07f";
}
.symb-ipad:before {
  content: "\e080";
}
.symb-iphone:before {
  content: "\e081";
}
.symb-iphone-brush:before {
  content: "\e082";
}
.symb-iphone-pencil:before {
  content: "\e083";
}
.symb-iphone-screwdriver:before {
  content: "\e084";
}
.symb-itunes:before {
  content: "\e085";
}
.symb-jack-o-lantern:before {
  content: "\e086";
}
.symb-journal:before {
  content: "\e087";
}
.symb-key:before {
  content: "\e088";
}
.symb-key-car:before {
  content: "\e089";
}
.symb-keyboard-down:before {
  content: "\e08a";
}
.symb-keyboard-up:before {
  content: "\e08b";
}
.symb-keypad:before {
  content: "\e08c";
}
.symb-knitting-needles:before {
  content: "\e08d";
}
.symb-laptop:before {
  content: "\e08e";
}
.symb-leaf:before {
  content: "\e08f";
}
.symb-ledger:before {
  content: "\e090";
}
.symb-ledger-money:before {
  content: "\e091";
}
.symb-letter:before {
  content: "\e092";
}
.symb-letter-blocks:before {
  content: "\e093";
}
.symb-life-ring:before {
  content: "\e094";
}
.symb-lightbulb:before {
  content: "\e095";
}
.symb-lightbulb-compact:before {
  content: "\e096";
}
.symb-lightning:before {
  content: "\e097";
}
.symb-line-graph:before {
  content: "\e098";
}
.symb-list:before {
  content: "\e099";
}
.symb-list-alt:before {
  content: "\e09a";
}
.symb-lock:before {
  content: "\e09b";
}
.symb-lodging:before {
  content: "\e09c";
}
.symb-magic-wand:before {
  content: "\e09d";
}
.symb-mailbox:before {
  content: "\e09e";
}
.symb-man-woman:before {
  content: "\e09f";
}
.symb-map:before {
  content: "\e0a0";
}
.symb-map-marker:before {
  content: "\e0a1";
}
.symb-martini-glass:before {
  content: "\e0a2";
}
.symb-meeting-table:before {
  content: "\e0a3";
}
.symb-megaphone:before {
  content: "\e0a4";
}
.symb-men:before {
  content: "\e0a5";
}
.symb-menorah:before {
  content: "\e0a6";
}
.symb-mic:before {
  content: "\e0a7";
}
.symb-money-bag:before {
  content: "\e0a8";
}
.symb-moon:before {
  content: "\e0a9";
}
.symb-moon-first-quarter:before {
  content: "\e0aa";
}
.symb-moon-full:before {
  content: "\e0ab";
}
.symb-moon-last-quarter:before {
  content: "\e0ac";
}
.symb-moon-new:before {
  content: "\e0ad";
}
.symb-moon-waning-crescent:before {
  content: "\e0ae";
}
.symb-moon-waning-gibbous:before {
  content: "\e0af";
}
.symb-moon-waxing-crescent:before {
  content: "\e0b0";
}
.symb-moon-waxing-gibbous:before {
  content: "\e0b1";
}
.symb-motorcycle:before {
  content: "\e0b2";
}
.symb-movie-camera:before {
  content: "\e0b3";
}
.symb-museum-pillars:before {
  content: "\e0b4";
}
.symb-music:before {
  content: "\e0b5";
}
.symb-music-home:before {
  content: "\e0b6";
}
.symb-newspaper:before {
  content: "\e0b7";
}
.symb-no-entry:before {
  content: "\e0b8";
}
.symb-no-flash:before {
  content: "\e0b9";
}
.symb-no-smoking:before {
  content: "\e0ba";
}
.symb-note-paper:before {
  content: "\e0bb";
}
.symb-note-paper-alt:before {
  content: "\e0bc";
}
.symb-notice:before {
  content: "\e0bd";
}
.symb-oven-stove:before {
  content: "\e0be";
}
.symb-paddles:before {
  content: "\e0bf";
}
.symb-paint-roller:before {
  content: "\e0c0";
}
.symb-paintbrush-palette:before {
  content: "\e0c1";
}
.symb-paintbrush-pencil:before {
  content: "\e0c2";
}
.symb-palm-tree:before {
  content: "\e0c3";
}
.symb-pancakes:before {
  content: "\e0c4";
}
.symb-parking:before {
  content: "\e0c5";
}
.symb-path-bezier:before {
  content: "\e0c6";
}
.symb-pattern:before {
  content: "\e0c7";
}
.symb-pause:before {
  content: "\e0c8";
}
.symb-pen:before {
  content: "\e0c9";
}
.symb-pencil:before {
  content: "\e0ca";
}
.symb-pencil-paintbrush-pen:before {
  content: "\e0cb";
}
.symb-people:before {
  content: "\e0cc";
}
.symb-person:before {
  content: "\e0cd";
}
.symb-person-add:before {
  content: "\e0ce";
}
.symb-person-cancel:before {
  content: "\e0cf";
}
.symb-person-love:before {
  content: "\e0d0";
}
.symb-person-substract:before {
  content: "\e0d1";
}
.symb-phone:before {
  content: "\e0d2";
}
.symb-phone-book:before {
  content: "\e0d3";
}
.symb-phone-dial:before {
  content: "\e0d4";
}
.symb-phone-touchpad:before {
  content: "\e0d5";
}
.symb-photo:before {
  content: "\e0d6";
}
.symb-photo-frame:before {
  content: "\e0d7";
}
.symb-photo-magnify:before {
  content: "\e0d8";
}
.symb-photos:before {
  content: "\e0d9";
}
.symb-picnic-table:before {
  content: "\e0da";
}
.symb-pie-chart:before {
  content: "\e0db";
}
.symb-pig:before {
  content: "\e0dc";
}
.symb-pixels:before {
  content: "\e0dd";
}
.symb-pizza:before {
  content: "\e0de";
}
.symb-plane:before {
  content: "\e0df";
}
.symb-plane-alt:before {
  content: "\e0e0";
}
.symb-play:before {
  content: "\e0e1";
}
.symb-playlist:before {
  content: "\e0e2";
}
.symb-podcast:before {
  content: "\e0e3";
}
.symb-postage:before {
  content: "\e0e4";
}
.symb-postage-alt:before {
  content: "\e0e5";
}
.symb-power-on:before {
  content: "\e0e6";
}
.symb-printer:before {
  content: "\e0e7";
}
.symb-projector:before {
  content: "\e0e8";
}
.symb-puzzle:before {
  content: "\e0e9";
}
.symb-puzzle-alt:before {
  content: "\e0ea";
}
.symb-question:before {
  content: "\e0eb";
}
.symb-quote:before {
  content: "\e0ec";
}
.symb-radio:before {
  content: "\e0ed";
}
.symb-radioactive:before {
  content: "\e0ee";
}
.symb-rainbow:before {
  content: "\e0ef";
}
.symb-rattle:before {
  content: "\e0f0";
}
.symb-record:before {
  content: "\e0f1";
}
.symb-redo:before {
  content: "\e0f2";
}
.symb-reload:before {
  content: "\e0f3";
}
.symb-restroom:before {
  content: "\e0f4";
}
.symb-reticle:before {
  content: "\e0f5";
}
.symb-rewind:before {
  content: "\e0f6";
}
.symb-rip-gravestone:before {
  content: "\e0f7";
}
.symb-robot-head:before {
  content: "\e0f8";
}
.symb-rocket:before {
  content: "\e0f9";
}
.symb-rss:before {
  content: "\e0fa";
}
.symb-ruler-pencil:before {
  content: "\e0fb";
}
.symb-runner:before {
  content: "\e0fc";
}
.symb-safe:before {
  content: "\e0fd";
}
.symb-scale:before {
  content: "\e0fe";
}
.symb-scissors:before {
  content: "\e0ff";
}
.symb-scissors-knitting-needles:before {
  content: "\e100";
}
.symb-screwdriver-pencil:before {
  content: "\e101";
}
.symb-script:before {
  content: "\e102";
}
.symb-script-play:before {
  content: "\e103";
}
.symb-script-record:before {
  content: "\e104";
}
.symb-script-stop:before {
  content: "\e105";
}
.symb-search:before {
  content: "\e106";
}
.symb-share:before {
  content: "\e107";
}
.symb-sheep:before {
  content: "\e108";
}
.symb-shopping-cart:before {
  content: "\e109";
}
.symb-shovel-pail:before {
  content: "\e10a";
}
.symb-shredder:before {
  content: "\e10b";
}
.symb-shuffle:before {
  content: "\e10c";
}
.symb-signs:before {
  content: "\e10d";
}
.symb-ski-boot:before {
  content: "\e10e";
}
.symb-skip-back:before {
  content: "\e10f";
}
.symb-skip-forward:before {
  content: "\e110";
}
.symb-skis-poles:before {
  content: "\e111";
}
.symb-skull:before {
  content: "\e112";
}
.symb-sliders:before {
  content: "\e113";
}
.symb-smile:before {
  content: "\e114";
}
.symb-smile-tooth:before {
  content: "\e115";
}
.symb-smile-toothless:before {
  content: "\e116";
}
.symb-soccer:before {
  content: "\e117";
}
.symb-sound:before {
  content: "\e118";
}
.symb-speech-bubble:before {
  content: "\e119";
}
.symb-speech-bubble-ellipsis:before {
  content: "\e11a";
}
.symb-speech-bubble-exclamation:before {
  content: "\e11b";
}
.symb-speech-bubble-question:before {
  content: "\e11c";
}
.symb-speech-bubble-text:before {
  content: "\e11d";
}
.symb-speech-bubbles:before {
  content: "\e11e";
}
.symb-spiral-paper:before {
  content: "\e11f";
}
.symb-star:before {
  content: "\e120";
}
.symb-stop:before {
  content: "\e121";
}
.symb-stop-sign:before {
  content: "\e122";
}
.symb-stopwatch:before {
  content: "\e123";
}
.symb-store-front:before {
  content: "\e124";
}
.symb-subtract:before {
  content: "\e125";
}
.symb-suitcase:before {
  content: "\e126";
}
.symb-sun:before {
  content: "\e127";
}
.symb-sun-cloud:before {
  content: "\e128";
}
.symb-swatch:before {
  content: "\e129";
}
.symb-sweep:before {
  content: "\e12a";
}
.symb-switch-off:before {
  content: "\e12b";
}
.symb-switch-on:before {
  content: "\e12c";
}
.symb-sync:before {
  content: "\e12d";
}
.symb-syrup-jug:before {
  content: "\e12e";
}
.symb-tag:before {
  content: "\e12f";
}
.symb-tag-special:before {
  content: "\e130";
}
.symb-takeout:before {
  content: "\e131";
}
.symb-tape-measure:before {
  content: "\e132";
}
.symb-target:before {
  content: "\e133";
}
.symb-taxi:before {
  content: "\e134";
}
.symb-teddy-bear:before {
  content: "\e135";
}
.symb-tennis:before {
  content: "\e136";
}
.symb-theater-masks:before {
  content: "\e137";
}
.symb-thread:before {
  content: "\e138";
}
.symb-thumbs-down:before {
  content: "\e139";
}
.symb-thumbs-up:before {
  content: "\e13a";
}
.symb-thumbtack:before {
  content: "\e13b";
}
.symb-ticket:before {
  content: "\e13c";
}
.symb-timer:before {
  content: "\e13d";
}
.symb-toilet:before {
  content: "\e13e";
}
.symb-toilet-paper:before {
  content: "\e13f";
}
.symb-tool-box:before {
  content: "\e140";
}
.symb-tooth:before {
  content: "\e141";
}
.symb-trailer:before {
  content: "\e142";
}
.symb-trailer-hookup:before {
  content: "\e143";
}
.symb-train:before {
  content: "\e144";
}
.symb-trash-can:before {
  content: "\e145";
}
.symb-tree:before {
  content: "\e146";
}
.symb-trophy:before {
  content: "\e147";
}
.symb-truck:before {
  content: "\e148";
}
.symb-tshirt:before {
  content: "\e149";
}
.symb-tv-flatscreen:before {
  content: "\e14a";
}
.symb-tv-retro:before {
  content: "\e14b";
}
.symb-two-way:before {
  content: "\e14c";
}
.symb-typewriter:before {
  content: "\e14d";
}
.symb-ufo:before {
  content: "\e14e";
}
.symb-umbrella:before {
  content: "\e14f";
}
.symb-undo:before {
  content: "\e150";
}
.symb-unlock:before {
  content: "\e151";
}
.symb-usb:before {
  content: "\e152";
}
.symb-vial:before {
  content: "\e153";
}
.symb-victrola:before {
  content: "\e154";
}
.symb-voicemail:before {
  content: "\e155";
}
.symb-washing-machine:before {
  content: "\e156";
}
.symb-wedding-rings:before {
  content: "\e157";
}
.symb-wheel:before {
  content: "\e158";
}
.symb-wheelchair-handicap:before {
  content: "\e159";
}
.symb-wifi:before {
  content: "\e15a";
}
.symb-wine-bottle:before {
  content: "\e15b";
}
.symb-wine-glass:before {
  content: "\e15c";
}
.symb-women:before {
  content: "\e15d";
}
.symb-wrench:before {
  content: "\e15e";
}
.symb-wrench-double:before {
  content: "\e15f";
}
.symb-wrench-pencil:before {
  content: "\e160";
}
.symb-wrench-screwdriver:before {
  content: "\e161";
}
.symb-xmas-tree:before {
  content: "\e162";
}
.symb-yarn:before {
  content: "\e163";
}
.symb-zipper:before {
  content: "\e164";
}
.symb-zoom-in:before {
  content: "\e165";
}
.symb-zoom-in-alt:before {
  content: "\e166";
}
.symb-zoom-out:before {
  content: "\e167";
}
.symb-zoom-out-alt:before {
  content: "\e168";
}
.symb-alien:before {
  content: "\e169";
}
.symb-album:before {
  content: "\e16a";
}
.symb-airplay:before {
  content: "\e16b";
}
.symb-address-book:before {
  content: "\e16c";
}
.symb-add:before {
  content: "\e16d";
}
